
<div class="">
<div class="row row-advanced-controls-profile dark-grey">
    <div class="col-md-12" style="text-align: center">
        <h2>FAN ANALYTICS</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-9 profile-content">
        <md-tabs id="inside-tabs" class="md-dynamic-height md-border-bottom" md-align-tabs="top"
                 md-selected="0">
            <md-tab id="insights" md-on-select="changeDetalization(0)" label="INSIGHT">
                <md-content class="inner-tab-content">
                </md-content>
            </md-tab>
            <md-tab id="days" md-on-select="changeDetalization(1)" label="DAYS">
                <md-content class="inner-tab-content">
                </md-content>
            </md-tab>
            <md-tab id="weeks" md-on-select="changeDetalization(2)" label="WEEKS">
                <md-content class="inner-tab-content">
                </md-content>
            </md-tab>
            <md-tab id="month" md-on-select="changeDetalization(3)" label="MONTH">
                <md-content class="inner-tab-content">
                </md-content>
            </md-tab>
            <md-tab id="years" md-on-select="changeDetalization(4)" label="YEARS">
                <md-content class="inner-tab-content">
                </md-content>
            </md-tab>
        </md-tabs>
        <div class="row light-gray">
            <div class="col-md-12" style="padding-left: 50px;">
                <div class="row  white">
                    <div class="col-md-12">
                        <nvd3 options="chartOptions" data="chartData"
                              style="min-width: 300px; min-height: 300px; display: block;"></nvd3>
                    </div>
                </div>
                <div class="row  white">
                    <div class="col-md-6" style="padding-left: 50px;">
                        <h2>Fans by country</h2>

                        <div id="chartdiv" class="chartdiv"></div>
                        <div class="white">
                            <ul class="list-unstyled country-list">
                                <li ng-repeat="item in mapData | limitTo:mapDataLimit">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <img src="{{item.flag}}" width="24" height="16"/>
                                        </div>
                                        <div class="col-md-8">
                                            {{item.name}}
                                        </div>
                                        <div class="col-md-3">
                                            {{item.value}}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row white">
                            <div class="col-md-12">
                                <div class="view-all" ng-click="mapDataLimit = 300"
                                     ng-hide="mapDataLimit>10">
                                    <div class="view-all-content">
                                        View All
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 white">
                        <h2>Link clicks</h2>

                        <div class="row white">
                            <div class="col-md-12">
                                <nvd3 options="pieChartOptions" data="pieChartData"
                                      style="min-width: 300px; min-height: 300px; display: block;"></nvd3>
                            </div>
                        </div>
                        <div class="row white">
                            <div class="col-md-12">
                                <div class="">
                                    <ul class="list-unstyled country-list">
                                        <li ng-repeat="item in linksData | limitTo:linkDataLimit">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    {{item.link}}
                                                </div>
                                                <div class="col-md-2">
                                                    {{item.views}}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row white">
                            <div class="col-md-12">
                                <div class="view-all" ng-click="linkDataLimit = 300"
                                     ng-hide="linkDataLimit>10">
                                    <div class="view-all-content">
                                        View All
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 profile-sidebar">
        <div class="row">
            <div class="col-md-12">
                <div class="upcoming-schedule" style="height: auto !important">
                    <div class="table-header">
                        <h3>Profile Views Tracker</h3>
                    </div>
                    <md-content class="light-gray info-card">
                        <md-list>
                            <md-list-item class="md-3-line" ng-repeat="item in todos">
                                <img ng-src="{{item.face}}?{{$index}}" class="md-avatar face"
                                     alt="{{item.name}}"
                                     width="55" height="55">

                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ item.name }}</h3>
                                    <h4>{{ item.position }}</h4>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </div>

                <md-content style="overflow: hidden">
                    <div class="upcoming-schedule" style="height: auto !important">
                        <div class="table-header">
                            <h3>Post & Pages</h3>
                        </div>
                        <div class="row white" style="padding-top: 20px;">
                            <div class="col-md-9" style="padding-left: 30px;">
                                Title
                            </div>
                            <div class="col-md-3">
                                Views
                            </div>
                        </div>
                        <div class="row white">
                            <ul class="list-unstyled posts-list">
                                <li ng-repeat="item in posts | limitTo:postsLimit">
                                    <div class="col-md-9">
                                        <a href="#">{{item.name}}</a>
                                    </div>
                                    <div class="col-md-3">
                                        {{item.views}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="row white">
                            <div class="col-md-12">
                                <div class="view-all" ng-click="postsLimit = 1000"
                                     ng-hide="postsLimit>100">
                                    <div class="view-all-content">
                                        View All
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-content>
            </div>
        </div>
    </div>
</div>
</div>