.tile {
  background-color:#fff;
  padding:5px;

}

.tile h4 {
    margin-left: 30px;
}

.publisher {
  padding:25px;
}

button.content-chip:hover, button.content-chip:focus {
  background: rgba(255, 0, 0, 0.8);
}
button.content-chip {
  position: relative;
  height: 24px;
  width: 24px;
  line-height: 30px;
  text-align: center;

  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  transition: background 0.15s linear;
  display: block;
}

