<!--<div>-->
  <!--<div class="panel panel-success">-->
    <!--<div class="panel-heading clearfix">-->
      <!--<p class="panel-title pull-left">{{team1.team.name}} - {{team2.team.name}} {{data.score}} {{date | date : 'dd.MM.yyyy'}}</p>-->
      <!--<div class="btn-group pull-right">-->
        <!--<a ui-sref="statsEdit({id: id, isLive: 'liveResults'})">-->
          <!--<button class="btn btn-default btn-sm">Manage live</button>-->
        <!--</a>-->
        <!--<a ui-sref="statsEdit({id: id, isLive: 'postResults'})">-->
          <!--<button class="btn btn-default btn-sm">Input Results</button>-->
        <!--</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="col-lg-2 cols">
    <p> {{date | date : 'EEE, d/MM'}} </p>
</div>
<div class="col-lg-1 cols time-col">
    <p>   {{ time | date:'h:mm' }} </p>
</div>
<div class="col-lg-1 cols logo-col">
    <img height="52" class="logo-team" src="/photos/{{ team1.logoTeam }}">
</div>
<div class="col-lg-3 cols">
    <p> {{team2.teamName}} </p>
</div>
<div class="col-lg-4 cols">
    <div class="col-lg-6 button"  ng-class="{ active: isActive('/manage-stats/stats-edit/'+id+'/liveResults') }" data-url="{{ id }}" ui-sref="manageStats.statsEdit({id: id, isLive: 'liveResults'})">
  <p>Manage live</p>

    </div>
    <div class="col-lg-6 button" ng-class="{ active: isActive('/manage-stats/stats-edit/'+id+'/postResults') }"  data-url="{{ id }}" ui-sref="manageStats.statsEdit({id: id, isLive: 'postResults'})">
    <p>  Input Results</p>

    </div>


</div>

