log-navbar
.container-floating(style='flex-direction: row; background-color: #333; padding-top: 125px;')
  .row(style='margin: 1px;')
    // 1
    .col-lg-4.col-md-4.col-sm-6.col-xs-12(style='box-sizing: border-box;')
      .col-md-12.comment-box
        .col-md-12
          .row
            .col-md-3.col-sm-4.col-xs-12
              img(style='border-radius: 8px; min-height: 65px; min-width: 65px; margin-top: 15px; height: 100%; width: 100%; max-height: 100px; max-width: 100px;', src='assets/images/kobe.png')
            .col-md-9.col-sm-8.col-sx-12(style='box-sizing: border-box')
              h1(style='font-size: 25px;') Kobe Bryant
              h3(style='border-bottom: 0px; color: #e8e8e8; font-size: 15px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;') Los Angeles Lakers (USA)
        .col-md-12
          h3(style='border-bottom: 0px; color: #777; font-size: 17px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;')
            | Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.

      .col-md-12.comment-box
        .col-md-12
          .row
            .col-md-3.col-sm-4.col-xs-12
              img(style='border-radius: 8px; min-height: 65px; min-width: 65px; margin-top: 15px; height: 100%; width: 100%; max-height: 100px; max-width: 100px;', src='assets/images/kobe.png')
            .col-md-9.col-sm-8.col-sx-12(style='box-sizing: border-box')
              h1(style='font-size: 25px;') Kobe Bryant
              h3(style='border-bottom: 0px; color: #e8e8e8; font-size: 15px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;') Los Angeles Lakers (USA)
        .col-md-12
          h3(style='border-bottom: 0px; color: #777; font-size: 17px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;')
            | Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.



      .col-md-12.comment-box
        .col-md-12
          .row
            .col-md-3.col-sm-4.col-xs-12
              img(style='border-radius: 8px; min-height: 65px; min-width: 65px; margin-top: 15px; height: 100%; width: 100%; max-height: 100px; max-width: 100px;', src='assets/images/arian.png')
            .col-md-9.col-sm-8.col-sx-12(style='box-sizing: border-box')
              h1(style='font-size: 25px;') Arian Foster
              h3(style='border-bottom: 0px; color: #e8e8e8; font-size: 15px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;') Houston Texans (USA)
        .col-md-12
          h3(style='border-bottom: 0px; color: #777; font-size: 17px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;')
            | Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.
          img(style='width: 100%; height: 100%; margin: 10px 0px; border-radius: 5px;', src='assets/images/arian2.png')


      // 1
    // 2
    .col-lg-4.col-md-4.col-sm-6.col-xs-12(style='box-sizing: border-box;')

      .col-md-12.comment-box
        .col-md-12
          .row
            .col-md-3.col-sm-4.col-xs-12
              img(style='border-radius: 8px; min-height: 65px; min-width: 65px; margin-top: 15px; height: 100%; width: 100%; max-height: 100px; max-width: 100px;', src='assets/images/arian.png')
            .col-md-9.col-sm-8.col-sx-12(style='box-sizing: border-box')
              h1(style='font-size: 25px;') Arian Foster
              h3(style='border-bottom: 0px; color: #e8e8e8; font-size: 15px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;') Houston Texans (USA)
        .col-md-12
          h3(style='border-bottom: 0px; color: #777; font-size: 17px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;')
            | Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.

      .col-md-12.comment-box
        .col-md-12
          .row
            .col-md-3.col-sm-4.col-xs-12
              img(style='border-radius: 8px; min-height: 65px; min-width: 65px; margin-top: 15px; height: 100%; width: 100%; max-height: 100px; max-width: 100px;', src='assets/images/kobe.png')
            .col-md-9.col-sm-8.col-sx-12(style='box-sizing: border-box')
              h1(style='font-size: 25px;') Kobe Bryant
              h3(style='border-bottom: 0px; color: #e8e8e8; font-size: 15px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;') Los Angeles Lakers (USA)
        .col-md-12
          h3(style='border-bottom: 0px; color: #777; font-size: 17px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;')
            | Lorem ipsum dolor sit amet enim.
          img(style='width: 100%; height: 100%; margin: 10px 0px; border-radius: 5px;', src='assets/images/kobe2.png')

      .col-md-12.comment-box
        .col-md-12
          .row
            .col-md-3.col-sm-4.col-xs-12
              img(style='border-radius: 8px; min-height: 65px; min-width: 65px; margin-top: 15px; height: 100%; width: 100%; max-height: 100px; max-width: 100px;', src='assets/images/arian.png')
            .col-md-9.col-sm-8.col-sx-12(style='box-sizing: border-box')
              h1(style='font-size: 25px;') Arian Foster
              h3(style='border-bottom: 0px; color: #e8e8e8; font-size: 15px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;') Houston Texans (USA)
        .col-md-12
          h3(style='border-bottom: 0px; color: #777; font-size: 17px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;')
            | Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.


    // 3
    .col-lg-4.col-md-4.col-sm-6.col-xs-12
      sign-up
      .col-md-12.comment-box
        .col-md-12
          .row
            .col-md-3.col-sm-4.col-xs-12
              img(style='border-radius: 8px; min-height: 65px; min-width: 65px; margin-top: 15px; height: 100%; width: 100%; max-height: 100px; max-width: 100px;', src='assets/images/arian.png')
            .col-md-9.col-sm-8.col-sx-12(style='box-sizing: border-box')
              h1(style='font-size: 25px;') Arian Foster
              h3(style='border-bottom: 0px; color: #e8e8e8; font-size: 15px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;') Houston Texans (USA)
        .col-md-12
          h3(style='border-bottom: 0px; color: #777; font-size: 17px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;')
            | Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.
      .col-md-12.comment-box
        .col-md-12
          .row
            .col-md-3.col-sm-4.col-xs-12
              img(style='border-radius: 8px; min-height: 65px; min-width: 65px; margin-top: 15px; height: 100%; width: 100%; max-height: 100px; max-width: 100px;', src='assets/images/kobe.png')
            .col-md-9.col-sm-8.col-sx-12(style='box-sizing: border-box')
              h1(style='font-size: 25px;') Kobe Bryant
              h3(style='border-bottom: 0px; color: #e8e8e8; font-size: 15px; font-family: Arial,Helvetica Neue,Helvetica,sans-serif;') Los Angeles Lakers (USA)
        .col-md-12
          img(style='width: 100%; height: 100%; margin: 10px 0px; border-radius: 5px;', src='assets/images/kobe3.png')
    // END
