.teams
  .container
    md-input-container
      label Team
      md-select(ng-model='selectedTeam')
        md-option(ng-repeat="team in teams" value='{{team._id}}') {{team.team.name}}
    .row
      h3(ng-hide='selectedTeam') You have to be assigned to team and select a team from list.
      messages(ng-repeat='team in teams' team='team' ng-if='team._id === selectedTeam')


    .col-lg-6.col-lg-offset-3.padding-bottom(ng-show="team.length == 0")
        a.btn.btn-default.our-button(ui-sref='teams.addTeam') Create a Team
        a.btn.btn-default.our-button.pull-right(ui-sref='#') Join existing team

    .col-lg-6.col-lg-offset-4.padding-bottom(ng-show="team.length > 0")
        a.btn.btn-default.our-button(ui-sref='#') Update Team
        a.btn.btn-default.our-button(ui-sref='teams.manageRoster') Manage Roster
        a.btn.btn-default.our-button(ui-sref='teams.taskManager') Task Manager
        a.btn.btn-default.our-button(ui-sref='#') Fans

    div(ui-view='')
