<div class="">
<div class="alert-success calAlert" ng-show="alertMessage != undefined &amp;&amp; alertMessage != ''">
    <h4> {{ alertMessage }}</h4>
</div>
<div class="btn-group col-lg-offset-2">
    <a ui-sref="teams.taskList" class="btn btn-default our-button">Task List</a>
</div>
<div class="btn-group calTools col-lg-offset-2">
    <button type="button" class="btn btn-primary" ng-click="addTask(task[0].id)">
        Add Task
    </button>
    <button type="button" class="btn btn-primary" ng-click="open()">
        Add Event
    </button>
</div>

<div ui-calendar="uiConfig.calendar" class="padding-top" ng-model="eventSources"></div>

<script type="text/ng-template" id="ModalAddEvent.html">
    <div class="modal-header">
        <h3 class="modal-title">Add New Event</h3>
    </div>
    <div class="modal-body">

        <div class="alert alert-danger event-danger" ng-show="alertMessageEvent !=''">

            {{ alertMessageEvent }}

        </div>

        <form class="form-horizontal">
            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" required="" class="form-control" id="title" placeholder="Title" ng-model="event.title">
                </div>
            </div>
            <div class="form-group">
                <label for="startDate" class="col-sm-3 control-label">Start Date</label>
                <div class="col-sm-8">
                    <md-datepicker ng-required="true"  ng-model="event.startDate" md-placeholder="Start date"></md-datepicker>
                </div>
            </div>
            <div class="form-group">
                <label for="endDate" class="col-sm-3 control-label">End Date</label>
                <div class="col-sm-8">
                    <md-datepicker ng-required="true"  ng-model="event.endDate" md-placeholder="End date"></md-datepicker>
                </div>
            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="ModalAddTask.html">
    <div class="modal-header">
        <h3 class="modal-title">Add New Task</h3>
    </div>
{{ forTask }}
    <div class="modal-body">
    <form class="form-horizontal">

            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Task for</label>
                <div class="col-sm-8">

                    <md-autocomplete
                            ng-disabled="isDisabled"
                            md-selected-item="selectedItem"
                            md-search-text="searchText"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(searchText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="For task">
                        <md-item-template>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>


                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Task Name</label>
                <div class="col-sm-8">
                    <input type="text" required="" class="form-control" id="title" placeholder="Task Name" ng-model="task.task_name">
                </div>
            </div>
            <div class="form-group">
                <label for="title" class="col-sm-3 control-label">Description</label>
                <div class="col-sm-8">
                    <textarea class="task-description" required="" ng-model="task.description" col="100"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="startDate" class="col-sm-3 control-label">Due Date</label>
                <div class="col-sm-8">
                    <md-datepicker ng-required="true" ng-model="task.due_date" md-placeholder="Due Date"></md-datepicker>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<label for="title" class="col-sm-3 control-label">Share With</label>-->
                <!--<div class="col-sm-8">-->
                    <!--<input type="text" required="" class="form-control" id="title" placeholder="Task share with" ng-model="task.share_with">-->
                <!--</div>-->
            <!--</div>-->
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
    </div>