.comment-box {
  padding: 10px;
  margin: 15px 0px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border: solid 1px #111;
  font-family: 'Oswald', sans-serif;
  text-align: start;
  color: #e8e8e8;
  font-size: 10px;
}

