log-navbar
.container-floating(style='flex-direction: row; background-color: #333; padding-top: 125px;')
  .row(style='margin: 1px;')
    // 1
    .col-lg-4.col-md-4.col-sm-6.col-xs-12(style='box-sizing: border-box;')
      .col-md-12.comment-box.news-box(ng-repeat = "n in news")
        .col-md-12
          .row
            .col-md-3.col-sm-4.col-xs-12(ng-show != "n.relatedImageUri")
              img(src='http://static.nfl.com/static/content/{{ n.relatedImageUri }}')
            .col-md-9.col-sm-8.col-sx-12(style='box-sizing: border-box')
              h1 {{ n.newsBoxHeadline }}
              h3
        .col-md-12.text-news
          h3
            | {{ n.caption }}
          a(href="http://www.nfl.com{{ n.articleUri }}" class="read-more")  Read more
    .col-lg-4.col-md-4.col-sm-6.col-xs-12(style='box-sizing: border-box;')
       .col-md-12.comment-box.news-box(ng-repeat = "two_column in news_page_two")
         .col-md-12
           .row
             .col-md-3.col-sm-4.col-xs-12(ng-show = "two_column.relatedImageUri!=null")
               img( src='http://static.nfl.com/static/content/{{ two_column.relatedImageUri }}')
             .col-md-9.col-sm-8.col-sx-12(style='box-sizing: border-box')
               h1 {{ two_column.newsBoxHeadline }}
               h3
         .col-md-12.text-news
           h3
             | {{ two_column.caption }}
           a(href="http://www.nfl.com{{ two_column.articleUri }}" class="read-more")  Read more
    .col-lg-4.col-md-4.col-sm-6.col-xs-12.sign-up-section
      sign-up
      .col-md-12.comment-box.news-box(ng-repeat = "three_column in news_page_three")
        .col-md-12
          .row
            .col-md-3.col-sm-4.col-xs-12(ng-show = "three_column.relatedImageUri")
              img( src='http://static.nfl.com/static/content/{{ three_column.relatedImageUri }}')
            .col-md-9.col-sm-8.col-sx-12(style='box-sizing: border-box')
              h1(style='font-size: 25px;') {{ three_column.newsBoxHeadline }}
              h3
        .col-md-12.text-news
          h3
            | {{ three_column.caption }}
          a(href="http://www.nfl.com{{ three_column.articleUri }}" class="read-more")  Read more
