<div>Date: <input type="text" ng-model="statsData.date"/></div>
<div>Site: <input type="text" ng-model="statsData.site"/></div>
<div>Stadium: <input type="text" ng-model="statsData.stadium"/></div>
<div>Attendance: <input type="text" ng-model="statsData.attendance"/></div>
<div>Team 1 score in Q1: <input type="text" ng-model="statsData.t1scoreQ1"/></div>
<div>Team 2 score in Q1: <input type="text" ng-model="statsData.t2scoreQ1"/></div>
<div>Team 1 score in Q2: <input type="text" ng-model="statsData.t1scoreQ2"/></div>
<div>Team 2 score in Q2: <input type="text" ng-model="statsData.t2scoreQ2"/></div>
<div>Team 1 score in Q3: <input type="text" ng-model="statsData.t1scoreQ3"/></div>
<div>Team 2 score in Q3: <input type="text" ng-model="statsData.t2scoreQ3"/></div>
<div>Team 1 score in Q4: <input type="text" ng-model="statsData.t1scoreQ4"/></div>
<div>Team 2 score in Q4: <input type="text" ng-model="statsData.t2scoreQ4"/></div>
