.player-links {
	text-align: left;
	margin: 0 0 0 15px
}

	.player-links button {
		width: 170px;
		padding: 13px 0;
		background: #fac553;
		font-family: 'aileronregular';
		font-size: 15px;
		text-transform: uppercase;
		text-align: center;
		color: #85641c;
		border: 0;
		border-radius: 3px;
	  	margin: 5px 0 0 15px;
	}

	.player-links button:hover {
		background: #f39c12;
		color: #ffffff;
	}

	.player-links .sent-message-basic {
	  background: #cccfd1;
	  border: 1px solid #b7bcbf;
	  color: #111e2b;
	}

	.player-links .sent-message-basic:hover {
	  background: #cccfd1;
	  border: 1px solid #b7bcbf;
	  color: #111e2b;
	}

	.player-links .sent-message-basic>.fa-envelope {
	  margin: 0 10px 0 0;
	}


	.player-links .send-message-modal {
		display: inline;
	}
