.search-result a {
  color: #fac553;
}

.result-field-search {
    margin: 20px 0 0 0;
}

.media-body {
  color: #fac553;
}

.main-search {
	background: #3c4651;
}

.main-search:hover,
.main-search:focus {
	background: #3c4651;
}
