<div class="row create-team">

    <div class="col-lg-12">
        <div class="md-display-2 text-center"> Add team</div>
    </div>

    <div class="col-lg-6 col-lg-offset-3">
        <div class="big-q">Team info</div>

        <div class="team_info">
            <div class="col-lg-12">
                <md-input-container>
                    <label> Team name </label>
                    <input type="text" ng-model="team.teamName" required>
                </md-input-container>
            </div>
            <div class="col-lg-12">
                <md-input-container>
                    <label> League </label>
                    <input type="text" ng-model="team.league" required>
                </md-input-container>
            </div>
            <div class="col-lg-12">
                <md-input-container>
                    <label>Country</label>
                    <md-select ng-model="team.country">
                        <md-option ng-repeat="country in countries" value="{{country.abbrev}}">
                            {{country.abbrev}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div class="col-lg-12">
                <md-input-container>
                    <label> Address </label>
                    <input type="text" ng-model="team.address" required>
                </md-input-container>
            </div>
            <div class="col-lg-12">
                <md-input-container>
                    <label> Mascot </label>
                    <input type="text" ng-model="team.mascot" required>
                </md-input-container>
            </div>
            <div class="col-lg-12">

                <label class="color-team"> Team colors </label>

                <div class="input-group col-lg-offset-3">

                    <div class="col-lg-7">
                        <input type="text" class="form-control" ng-model="team.color" required>
                    </div>

                    <div class="col-lg-5">
                        <spectrum ng-model="team.color" options="colorOptions"></spectrum>
                    </div>

                </div>

                <div class="col-lg-12">
                    <md-content>
                        <h4 class="text-center"> Stadium name </h4>
                        <md-datepicker ng-model="team.stadiumName" class="col-lg-offset-3"
                                       md-placeholder="Stadium name"></md-datepicker>
                    </md-content>
                </div>
            </div>
        </div>
        <div class="big-q">Contact info</div>
        <div class="col-lg-12">
            <div class="form-group">
                <label class="col-lg-5"> Telephone number </label>

                <div class="col-lg-5">
                    <input type="text" international-phone-number ng-model="team.phone" class="form-control" required>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <md-input-container>
                <label> Email </label>
                <input type="text" ng-model="team.email" required>
            </md-input-container>
        </div>
        <div class="col-lg-12">
            <md-input-container>
                <label> Website </label>
                <input type="text" ng-model="team.link" required>
            </md-input-container>
        </div>
        <div class="col-lg-12">
            <button class="btn col-lg-5 col-lg-offset-4 save-team btn-default our-button"> Save team</button>
        </div>
    </div>

</div>