<md-dialog aria-label="Edit player" flex="50">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit player</h2><span flex="flex"></span>

            </div>
        </md-toolbar>
        <md-dialog-content>

            <div class="col-lg-12">
                <form name="userForm">
                    <md-input-container>
                        <label>First Name</label>
                        <input name="firstName" ng-model="player.player.firstName" required>
                        <div ng-messages="userForm.firstName.$error" ng-show="userForm.firstName.$dirty">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Last Name</label>
                        <input name="lastName" ng-model="player.player.lastName" required >
                        <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Email Address</label>
                        <input name="email" ng-model="player.email" required>
                        <div ng-messages="userForm.email.$error" ng-show="userForm.email.$dirty">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>
                    <div class="col-lg-12 margin-top profile-photo">
                        <div class="md-headline">Profile photo</div>
                        <div class="upload"> +
                            <input type="file" id="fileInputLogo"  fileread="logoProfile" >
                        </div>
                        <div class="image-crop">
                            <img-crop image='logoProfile' result-image='croppedLogoProfile' area-type="square"
                                      result-image-quality="1.0"></img-crop>
                        </div>

                        <div class="preview-img" ng-show="logoProfile">
                            <div class="md-title">Preview:</div>
                            <img ng-src="{{croppedLogoProfile}}">
                        </div>
                    </div>
                    <md-input-container>
                        <label>Height</label>
                        <input name="height" ng-model="player.player.height" required>
                        <div ng-messages="userForm.height.$error" ng-show="userForm.height.$dirty">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Weight</label>
                        <input name="weight" ng-model="player.player.weight" required>
                        <div ng-messages="userForm.weight.$error" ng-show="userForm.weight.$dirty">
                            <div ng-message="required">This is required!</div>

                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>Jersey number</label>
                        <input name="number" ng-model="player.player.number" required>
                        <div ng-messages="userForm.number.$error" ng-show="userForm.number.$dirty">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                            <label>Position</label>
                            <md-select ng-model="player.player.position" name="position" >
                                <md-option ng-repeat="position in positions" value="{{position}}">
                                    {{position}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div ng-messages="userForm.position.$error" ng-show="userForm.position.$dirty">
                            <div ng-message="required">This is required!</div>
                        </div>
                    <md-input-container>
                        <label>Birth place</label>
                        <input name="birthPlace" ng-model="player.player.birthPlace" required>
                        <div ng-messages="userForm.birthPlace.$error" ng-show="userForm.birthPlace.$dirty">
                            <div ng-message="required">This is required!</div>
                        </div>
                    </md-input-container>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label born-edit">Born</label>
                        <div class="col-sm-10 born-edit">
                            <md-datepicker  md-placeholder="Enter date" class="col-lg-offset-3" ng-model="player.player.born">

                            </md-datepicker>
                        </div>
                    </div>

                </form>
            </div>

        </md-dialog-content>
        <div layout="row" class="md-actions"><span flex="flex"></span>
            <md-button ng-click="update()" class="md-primary">Update</md-button>
            <md-button ng-click="cancel()" class="md-primary">Cancel</md-button>
        </div>
    </form>
</md-dialog>