.log-nav(directive="log-navbar" ng-class="{dark:boolChangeClass}")
  .col-md-4.col-sm-2.col-xs-2
    a(ui-sref='main')
      img.logo(src='assets/images/podyum.png')
  .col-lg-4.col-md-4.col-sm-2.col-xs-2
    .btn-group-vertical.nav-menu(role='group', aria-label='...', ng-init="showData()")

      ul
        li(ng-repeat="datalist in datalists" ng-click="select(datalist)")
          a.link-lav-2(href="{{ datalist.href }}" ng-click="select($event)" ng-class="{active: isActive(datalist)}") {{ datalist.name }}
      //a.link-lav-2.active(ui-sref='football' ng-click="select($event)" ng-class="{active: isActive(datalist)}") HOME
      //a.link-lav-2(ui-sref='main' ng-click="select($event)" ng-class="{active: isActive(datalist)}") EXPLORE
      //a.link-lav-2(ui-sref='main' ng-click="select($event)" ng-class="{active: isActive(datalist)}") ABOUT
  .col-md-4.col-sm-5.col-xs-12.log-nav-buttons(ng-init="isLogin=false;isSignup=false")
    button.main-button(ng-click='isLogin=true;isSignup=false;scrollTo("top")' ) Sign Up
    button.main-button(ng-click='isLogin=false;isSignup=true;scrollTo("top")' ) Log in


//.log-nav-2
  //.col-md-1.col-sm-1.col-xs-1

    // a.link-lav-2(ui-sref='basketball') Basketball
