<div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #ffffff; padding: 20px;">
  <button class="btn" ng-show="showedit" ng-click="edit()"
          style="position: absolute; top:0px; right:0px; background-color: Transparent;"><img src="assets/images/pen.png"/>
  </button>
  <div class="row">
    <div class="col-md-5 col-sm-5 col-xs-12">
      <a href="#"  style="margin-top:40px;">
        <img class="profile-main-photo" src="photos/{{user.profilePhoto}}" alt="s" >
      </a>

    </div>
    <div class="col-md-7 col-sm-7 col-xs-12">
      <div class="player-data">
        <h1>#{{user.team.name}} {{user.team.short}}</h1>
        <div class="main-data">
          <p>{{user.team.league}}</p>
        </div>
        <div class="player-facts">
          <div class="col-md-6 left-col">
            <p ng-if="user.team.city">City:</p>
          </div>
          <div class="col-md-6">
            <p ng-if="user.team.city">{{user.team.city}}</p>
          </div>
        </div>
      </div>


      </div>

    </div>
  </div>
  <profile-buttons user="user" owner="owner"></profile-buttons>
  <!--<div class="row" ng-show="user._id !== owner._id && user.completed">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <button class="btn-sm btn-default our-button round-corners" ng-click="onassign()" ng-show="(owner.kind==='player' || owner.kind==='coach' )">Assign!</button>
      <button class="btn-sm btn-default our-button round-corners" ng-show="(owner.kind === 'coach' || owner.kind==='player' || owner.kind ==='fan') && owner['follows'].indexOf(user['_id']) === -1" ng-click="onclickfollow()">Follow!</button>
      <button class="btn-sm btn-default our-button round-corners" ng-show="(owner.kind === 'coach' || owner.kind==='player' || owner.kind ==='fan') && owner['follows'].indexOf(user['_id']) !== -1" ng-click="onclickunfollow()">Unfollow</button>
      <button class="btn-sm btn-default our-button round-corners">Send Message!</button>
    </div>
  </div>-->
</div>
