.player-logo {
	margin: 45px 0 25px;
	text-align: center;
}

.profile-data {
	background: #fff;
}

.player-data, .plater-facts {
	margin-left: 30%;
}

.player-data .left-col {
	font-weight: 700;
}

.profile-main-photo {
  width: 150px;
  height: 150px;
  margin-bottom: 0;
}

.profile-name h1 {
	font-size: 22px;
	font-family: 'aileronlight';
	color: #3c4651;
	text-align: center;
	padding: 0;
}

.profile-main-info {
	font-size: 14px;
	text-align: center;
}

.profile-main-info p {
	margin: 0;
}

.profile-main-info a {
	color: #dfa62c;
}

.profile-main-info a>span {
	color: #3c4651;
}

.profile-main-info a:hover,
.profile-main-info a:focus {
	color: #dfa62c;
	text-decoration: none;
	outline: none;
}

.profile-main-info span {
	text-transform: uppercase;
}

.additional-info {
	padding: 10px 0 10px 30px;
	color: #111e2b;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

.additional-info p {
	margin: 0;
	padding: 0;
}

.additional-info span {
	color: #827f79;
	font-weight: normal;
	text-transform: none;
}

.user-fans {
	padding: 46px 0 30px 45px;
	position: relative;
}

.user-friends {
	position: relative;
	padding: 30px 0 52px 45px;
}

.user-fans-team {
	display: table-cell;
	vertical-align: middle;
	height: 304px;
	padding: 0 0 0 45px;
}

.user-friends-coach {
  display: table-cell;
  vertical-align: middle;
  height: 304px;
  padding: 0 0 0 45px;
}

.user-fans a, .user-friends a, .user-fans-team a, .user-friends-coach a {
	font-size: 30px;
	color: #111e2b;
	display: block;
}

.user-fans a:hover, .user-friends a:hover, .user-fans-team a:hover, .user-friends-coach a:hover {
	text-decoration: none;
}

.user-fans a:before {
	content: ' ';
	background: url(../../assets/images/followers-icon.png) 100% 100%;
	display: block;
	width: 28px;
	height: 31px;
	position: absolute;
	top: 53px;
	left: 7px;
}

.user-fans-team a:before {
    content: ' ';
    background: url(../../assets/images/fans-team.png) 100% 100%;
    display: block;
    width: 25px;
    height: 26px;
    position: absolute;
    top: 121px;
    left: 19px;
}

.user-friends-coach a:before {
  content: ' ';
  background: url(../../assets/images/friends-icon.png) 100% 100%;
  display: block;
  width: 32px;
  height: 22px;
  position: absolute;
  top: 41%;
  left: 22px;
}


.user-friends a:before {
	content: ' ';
	background: url(../../assets/images/friends-icon.png) 100% 100%;
	display: block;
	width: 32px;
    height: 22px;
    position: absolute;
    top: 40px;
    left: 4px;
}

.user-fans p, .user-friends p {
	color: #85929e;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
}

.additional-block {
	min-height: 190px;
}

.social {
	padding: 20px 15px;
}

.social a {
	margin: 0 35px 0 15px;
}

.btn-basic-team button {
	margin: 0;
}

.league-basic .img-rounded {
	width: 82px;
	height: 82px;
}

.league-basic {
	margin: 15px 0;
}

.league-header {
	font: 22px/40px "aileronlight";
	color: #111E2B;
	text-align: center;
	border-bottom: 1px solid #F1F1F1;
	margin: 0;
	padding: 10px 0;
}


