<div class="col-md-12 col-sm-12 col-xs-12 profile-data">
  <button class="btn" ng-show="showedit" ng-click="edit()"
          style="position: absolute; top:0px; right:0px; background-color: Transparent; z-index: 1;"><img src="assets/images/pen.png"/>
  </button>
  <div class="row">
    <div class="col-md-3" style="border-right: 1px solid #f5f5f5;padding: 30px 0">
      <a href="#">
        <img class="profile-main-photo img-rounded" src="photos/{{user.profilePhoto}}">
      </a>

      <div class="profile-name">
        <h1>{{user.firstName}} {{user.lastName}}</h1>
        <h4><div ng-repeat="presentTeam in mypresentteams">{{presentTeam.user.team.name}}, {{presentTeam.position}}</div></h4>
      </div>
      <div class="profile-main-info">
        <p><span></span></p>
      </div>
    </div>
    <div class="col-md-6" style="padding:30px 0">
      <div class="row additional-block" style="min-height: 130px">
        <div class="col-md-6">
          <div ng-if="user.coach.age" class="additional-info">
            <p>Age&nbsp;:</p>
            <span>{{user.coach.age}}</span>
          </div>
          <div ng-if="user.coach.experience" class="additional-info">
            <p>Experience&nbsp;:</p>
            <span>{{user.coach.experience}}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div ng-if="user.coach.specialty" class="additional-info">
            <p>Specialty&nbsp;:</p>
            <span>{{user.coach.specialty}}</span>
          </div>
          <div ng-if="user.coach.isLookingFor" class="additional-info">
            <p>Looking for team&nbsp;:</p>
            <span>{{user.coach.isLookingFor}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 social">
          <a href="#"><img src="assets/images/facebook-ico.png" alt=""></a>
          <a href="#"><img src="assets/images/twiter-md-ico.png" alt=""></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 btn-basic-coach">
          <profile-buttons user="user" owner="owner"></profile-buttons>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="background: #fbfbfb; display: table;">
      <div class="user-friends-coach">
        <a ui-sref="friends({id: user._id})">{{user.friends.length}}</a>
        <p>Friends</p>
      </div>
    </div>
  </div>
</div>

  <!--<div class="row" ng-show="user._id !== owner._id && user.completed">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <button class="btn-sm btn-default our-button round-corners" ng-show="(owner.kind === 'coach' || owner.kind==='player' || owner.kind ==='fan') && owner['follows'].indexOf(user['_id']) === -1" ng-click="onclickfollow()">Follow!</button>
      <button class="btn-sm btn-default our-button round-corners" ng-show="(owner.kind === 'coach' || owner.kind==='player' || owner.kind ==='fan') && owner['follows'].indexOf(user['_id']) !== -1" ng-click="onclickunfollow()">Unfollow</button>
      <button class="btn-sm btn-default our-button round-corners" ng-show="(owner.kind === 'coach' || owner.kind==='player' || owner.kind ==='fan') && (owner['invited'].indexOf(user['_id']) ===-1 && isNotInArray(owner.friends, user._id))" ng-click="onclickfriend()">Invite to friends!</button>
      <button class="btn-sm btn-default our-button round-corners">Send Message!</button>

    </div>
  </div>-->

