<div class="col-md-12 col-sm-12 col-xs-12 profile-data">
  <button class="btn" ng-show="showedit" ng-click="edit()"
          style="position: absolute; top:0px; right:0px; background-color: Transparent; z-index:1"><img src="assets/images/pen.png"/>
  </button>
  <div class="col-md-3" style="border-right: 1px solid #f5f5f5;padding: 30px 0">
    <a href="#">
      <img class="profile-main-photo img-rounded" src="photos/{{user.profilePhoto}}" alt="">
    </a>
    <div class="profile-name">
      <h1>{{user.fan.firstName}} {{user.fan.lastName}}</h1>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
    <div class="row additional-block">
      <div class="col-md-6">
        <div ng-if="user.fan.birth" class="additional-info">
          <p>Born&nbsp;:</p>
          <span>{{user.fan.birth}}</span>
        </div>
        <div ng-if="user.fan.city" class="additional-info">
          <p>Birth Place&nbsp;:</p>
          <span>{{user.fan.city}}</span>
        </div>
      </div>
      <div class="col-md-6">
        <div ng-if="user.fan.team" class="additional-info">
          <p>Favorite teams&nbsp;:</p>
          <span>{{user.fan.team}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <profile-buttons user="user" owner="owner"></profile-buttons>
      </div>
    </div>
  </div>
  <div class="col-md-3" style="background: #fbfbfb;">
    <div class="user-fans">
      <a ui-sref="followed({id: user._id})">{{user.followed.length}}</a>
      <p>Followers</p>
    </div>
    <div class="user-friends">
      <a ui-sref="friends({id: user._id})">{{user.friends.length}}</a>
      <p>Friends</p>
    </div>
  </div>
  <profile-buttons user="user" owner="owner"></profile-buttons>
  <!--<div class="row" ng-show="user._id !== owner._id && user.completed">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <button class="btn-sm btn-default our-button round-corners" ng-show="(owner.kind === 'coach' || owner.kind==='player' || owner.kind ==='fan') && (owner['invited'].indexOf(user['_id']) ===-1 && isNotInArray(owner.friends, user._id))" ng-click="onclickfriend()">Invite to friends!</button>
      <button class="btn-sm btn-default our-button round-corners">Send Message!</button>

    </div>
  </div>-->
</div>
