.col-md-12.col-sm-12.col-xs-12(style="font-size: 18px; font-family: 'Verdana', sans-serif; font-weight: 100")
.col-md-2.col-sm-1
.col-md-8.col-sm-10.col-xs-12
.col-md-12.col-sm-12.col-xs-12
.col-md-6.col-sm-6.col-xs-6
.div(class="creator-q") What's your league name?
.col-md-6.col-sm-6.col-xs-6
label
input(type="text" class="form-inline" id="name" ng-model="formData.name")
.col-md-12.col-sm-12.col-xs-12
.col-md-6.col-sm-6.col-xs-6
.div(class="creator-q") What year was your league founded?
.col-md-6.col-sm-6.col-xs-6
label
input(type="date" class="form-inline" id="founded" ng-model="formData.founded" placeholder="yyyy-MM-dd")

.col-md-12.col-sm-12.col-xs-12
.col-md-6.col-sm-6.col-xs-6
.div(class="creator-q")  What's your address?
.col-md-6.col-sm-6.col-xs-6
label
input(type="text" class="form-inline" id="address" ng-model="formData.address")
.col-md-12.col-sm-12.col-xs-12
.col-md-6.col-sm-6.col-xs-6
.div(class="creator-q")  What's the link to your page?
.col-md-6.col-sm-6.col-xs-6
label
input(type="text" class="form-inline" id="link" ng-model="formData.link")

.col-md-2.col-sm-1
.col-md-12.col-sm-12.col-xs-12
.col-md-2.col-sm-1
.col-md-8.col-sm-10.col-xs-12
.big-q Short biography
.col-md-12.col-sm-12.col-xs-12
textarea(ng-model="formData.bio" value="bio" style="height: 100px; width: 100%")
.col-md-2.col-sm-1
.col-md-12.col-sm-12.col-xs-12
.col-md-2.col-sm-1
.col-md-8.col-sm-10.col-xs-12
br
country-select.creator-country-select(ng-model="formData.country")
.col-md-2.col-sm-1

.col-md-12.col-sm-12.col-xs-12
.col-md-2.col-sm-1
.col-md-8.col-sm-10.col-xs-12
one-user-selector(label='"Executive"' items='allHumanUsers' selected-item='formData.executive')
.col-md-2.col-sm-1

.col-xs-12.col-sm-12.col-md-12.row
.col-xs-2.col-sm-3.col-md-3
.col-xs-8.col-sm-6.col-md-6
.col-xs-12.col-sm-12.col-md-12.row
.col-xs-6.col-sm-6.col-md-6
a(ui-sref="creator.photo").md-button.create-button(ng-click="changeProgress(20)")
.i(class="fa fa-arrow-left" style="font-size: 22px; margin: 0; padding: 0;")
| &#32; Back
.col-xs-6.col-sm-6.col-md-6
a(ui-sref="creator.finish").md-button.create-button(ng-click="changeProgress(100)" ng-show="formData.type && formData.photo")
| Next step &#32;
.i(class="fa fa-arrow-right" style="font-size: 22px; margin: 0; padding: 0;")
.col-xs-2.col-sm-3.col-md-3




