.row
  .col-md-12.col-sm-12
    .row.leftMarginedMilestoneCreator
      .col-md-4
        md-input-container
          label Type of milestone
          md-select(ng-model="milestone.kind")
            md-option(
              ng-repeat="kind in statsTypes"
              value="{{kind}}") {{kind}}
      .col-md-4
        md-input-container
          label Subtype of milestone
          md-select(ng-model="milestone.subkind", ng-disabled="subtypeDisabled")
            md-option(
              ng-repeat="subkind in subkinds"
              value="{{subkind}}") {{subkind}}
      .col-md-4
        md-input-container
          label My goal
          input.form-control(type="number", ng-model="milestone.value")
