<div class="game ">

    <div class="day-date-game">
        <span>{{ date | date: 'EEEE, MMMM d, y' }}</span>
    </div>

    <div class="info-game">

        <div class="section-vs" ng-click="showInfo()">
            <div class="col-lg-2 time-game">
                <span class="ui-icon-clock"></span><span class="time"> {{time | date:'shortTime' }} </span>
            </div>
            <div class="team col-lg-offset-2">
                <div class="team-1 col-lg-4">
                    <div class="name-team col-lg-6 md-headline">
                        <span>{{ team1.teamName }}</span>
                    </div>

                    <div class="logo-team col-lg-5">
                        <img width="70" height="70" src="/photos/{{ team1.logoTeam }}">
                    </div>
                </div>
                <div class="vs-text col-lg-1"><span>vs</span></div>
                <div class="team-2 col-lg-4">
                    <div class="logo-team col-lg-5">
                        <img width="70" height="70" src="/photos/{{ team2.logoTeam }}">
                    </div>
                    <div class="name-team col-lg-6  md-headline">
                        <span>{{ team2.teamName }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="delete-team col-lg-1" ng-click="delete(index,id)"></div>
        <div class="section-info-team">
            <div class="logo-team col-lg-2">
                <img width="120" height="78" src="/photos/{{ team1.logoTeam }}">
            </div>

            <div class="full-time-game col-lg-2">
                <h3>Time:</h3>
                <span> {{time | date:'shortTime' }} </span>
            </div>
            <div class="place-game col-lg-2">
                <h3>Place:</h3>
                <span>{{ place }}</span></div>
            <div class="stadium-game col-lg-2">
                <h3>Stadium/Arena:</h3>
                <span>{{ stadium }}</span>
            </div>
            <div class="live-stream-game col-lg-3">
                <h3>Live stream:</h3>
                <span>{{ stream }}</span>
            </div>

        </div>

    </div>

</div>