<div class="game ">

    <div class="day-date-game">
        <span>Saturday, November 19th</span>
    </div>

    <div class="info-game">

        <div class="section-vs" ng-click="showInfo()">
            <div class="col-lg-2 time-game">
                <span class="ui-icon-clock"></span><span class="time">2 PM  </span>
            </div>
            <div class="team col-lg-offset-3">
                <div class="team-1 col-lg-3">
                    <div class="name-team col-lg-6 md-headline">
                        <span>Coyotes</span>
                    </div>

                    <div class="logo-team col-lg-5">
                        <img src="assets/images/logo-rebbit.png">
                    </div>
                </div>
                <div class="vs-text col-lg-1"><span>vs</span></div>
                <div class="team-2 col-lg-3">
                    <div class="logo-team col-lg-6">
                        <img src="assets/images/logo-rebbit.png">
                    </div>
                    <div class="name-team col-lg-5  md-headline">
                        <span>JackRabbits</span>
                    </div>
                </div>
            </div>
            <div class="delete-team col-lg-1 "></div>
        </div>

        <div class="section-info-team">
            <div class="logo-team col-lg-2">
                <img src="assets/images/logo-team-big.png">
            </div>

            <div class="full-time-game col-lg-2">
                <h3>Time:</h3>
                <span>tets tets</span>
            </div>
            <div class="place-game col-lg-2">
                <h3>Place:</h3>
                <span>place</span></div>
            <div class="stadium-game col-lg-2">
                <h3>Stadium/Arena:</h3>
                <span>stadium/arena</span>
            </div>
            <div class="live-stream-game col-lg-3">
                <h3>Live stream:</h3>
                <span>live stream</span>
            </div>

        </div>

    </div>

</div>