/* --------------------------------------------------------------------------------------- */
/* XS ------------------------------------------------------------------------------------ */
/* --------------------------------------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

/* NAVIGATION BAR 1 ---------------------------------------------------------------------- */
.log-nav {
  position: fixed;
  border-radius: 0px;
  padding: 22px 3px;
  height: 100px;
  width: 100%;
  margin: 0px;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  z-index:49;
  background-color: transparent;
}

.md-datepicker-calendar-pane {
    z-index: 999999999999999;
}
.dark{
    background-image:
      linear-gradient(rgba(20, 20, 20, 0.9) 0%, rgba(255, 255, 255, 0) 95%);
      -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.8)), color-stop(0.5, rgb(51, 51, 51)), to(rgba(80, 80, 80, 0.2)))
}


/* logo ----------------------------------- */

.logo {
  color: transparent;
  outline:0;
  margin-left: 25px;
  height: 50px;
}

.logo:hover, .logo:active, .logo:focus, .logo:hover:not([disabled]) {
  outline:0;
  color: transparent;
  margin-left: 25px;
  height: 50px;
}

a:focus, a:hover, a:active {
  color: transparent;
}

/* checkbox ------------------------------- */
md-checkbox .md-icon {
  border-color: rgba(90, 90, 90, 0.54);
}

md-checkbox {
  margin: 10px 0px;
  cursor: pointer;
  padding-left: 12px;
  padding-right: 0;
  line-height: 15px;
  min-width: 10px;
  min-height: 10px;
  color: #696969;
  font-size: 10px;
}

md-toast.md-top {
  top: 76px;
  right: 15px;
}



/*  email and password box ---------------- */
/*.form-control-log-in {*/
  /*box-sizing: border-box;*/
  /*font-size: 11px;*/
  /*color: #fff;*/
  /*background-color: transparent;*/
  /*width: 100%;*/
  /*height: 25px;*/
  /*padding: 0px 0px;*/
  /*border-top: 0px;*/
  /*border-left: 0px;*/
  /*border-right: 0px;*/
  /*border-bottom: 1px solid #777;*/
/*}*/

/*.form-control-log-in:focus, .form-control-log-in:hover, .form-control-log-in:active {*/
  /*font-size: 11px;*/
  /*color: #fff;*/
  /*background-color: transparent;*/
  /*width: 100%;*/
  /*height: 25px;*/
  /*padding: 0px 0px;*/
  /*border-top: 0px;*/
  /*border-left: 0px;*/
  /*border-right: 0px;*/
  /*border-bottom: 1px solid #f8c637;*/
/*}*/

/*  main-button  ----------------------- */
.main-button {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  margin: 10px 11px;
  background: transparent;
  font-size: 16px;
  padding: 12px 31px;
  width: 125px;
  color: #fff;
  transition: box-shadow 1.0s cubic-bezier(0.25, 0.8, 0.25, 1.0) 0s, background-color 1.0s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  border: 1px solid;
  border-radius: 40px;
}

.main-button:hover, .main-button:focus, .main-button:active, .main-button:hover:not([disabled]){
  color: #fff;
  background-color: #5e5e5e;
}

sign-up .main-button{
  background-color: #FFB517;
}

.submit{
  text-align: center;
  padding-left: 0px;
}

/*  log alert danger  --------------------- */

.alert-danger {
  margin-right: 50px;
}
.alert-danger:hover, .alert-danger:focus, .alert-danger:active, .alert-danger:hover:not([disabled]) {
  background-color: #f5f5ff;
}

.log-nav-2 {
  font-family: 'Oswald', sans-serif;
  position: fixed;
  padding: 8px 3px;
  width: 100%;
  margin-top: 74px;
  height: 50px;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  z-index: 48;
  background-image: url("../../assets/images/navbarBackground/tweed.png");
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

.link-lav-2{
  outline:0;
  text-decoration: none;
  padding: 10px 12px;
  font-size: 18px;
  color: #eee;
  text-align: center;
  margin-right: 25px;
}

.nav-menu{
  margin-top: 17px;
}

.nav-menu li{
  display: inline-block;
}

.nav-menu .active{
  border-bottom: 3px solid #F8C637;
}

.link-lav-2:active, .link-lav-2:focus, .link-lav-2:hover{
  outline:0;
  padding: 10px 12px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 2px #000;
}




/* LANDING BOX  -------------------------------------------------------------------------- */
.landing-box {
  box-sizing: border-box;
  min-height: 100%;
  margin-right: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  border: 0px;
  box-shadow: 0px 0px 0px;
  right: 0px;
  z-index: 47;
  margin-bottom: 0px;
  margin-left: 0px;
}

/* agree, policy, cookies... -------------- */
.landing-small-font {
  color: #fff;
  font-size: 17px;
}

.landing-big-font {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #858182
}

.landing-small-font-link {
  color: #777;
  font-size: 17px;
}

.landing-small-font-link:hover, .landing-small-font-link:focus, .landing-small-font-link:active {
  color: #f8c637;
  text-decoration: none;
}


/*  scroll -------------------------------- */

.scroller {
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

/*  email and password box ---------------- */
.form-control-sign-up, .form-control-log-in{
  box-sizing: border-box;
  font-size: 14px;
  background-color: #EAEFF1;
  width: 100%;
  height: 25px;
  padding: 0px 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  /* border-bottom: 1px solid #777; */
  color: #B7BBBD;
  border-radius: 5px;
  height: 45px;
  padding: 12px;
}

.form-control-sign-up:focus, .form-control-sign-up:hover, .form-control-sign-up:active {
  /*font-size: 14px;*/
  /*background-color: transparent;*/
  /*width: 100%;*/
  /*height: 25px;*/
  /*padding: 0px 0px;*/
  /*border-top: 0px;*/
  /*border-left: 0px;*/
  /*border-right: 0px;*/
  /*color: #fff;*/
  /*border-bottom-color: #f8c637;*/

}

.form-control-sign-up[type=radio]{
  width: 19px;
  height: 16px;
  margin-left: 5px;
}

.form-submit{
  background-color: #f1a227!important;
}

.form-submit:hover, .form-submit:active, .form-submit:focus{
  background-color: #f8c637;
}

md-datepicker {
  position: relative;
  background: rgb(234, 239, 241);
  top: -14px;
}

.md-datepicker-input-container {
  border-bottom-width: 0;
}

.md-datepicker-triangle-button.md-button.md-icon-button{
  display: none;
}

.md-datepicker-input-container.md-datepicker-focused{
  border-bottom-width: 0;
}

.explore-sing-up-form{
  background: #071321!important;
}

.explore-sing-up-form h2{
  color:#f1a227;
}
.explore-sing-up-form .form-control-sign-up, .explore-sing-up-form .form-control-log-in{
  background: #47515B;
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 4px;
}
.explore-sing-up-form md-datepicker {
  background: rgb(71, 81, 91);
}

/* SOCIAL LINKS ---------------------------------------------------------------------------*/
.social-links {
  text-align: center;
  padding: 0px;
  list-style: none;
  margin: 10px 10px;
}

.social-links li {
  margin: 0px 3px 29px 3px !important;
  display: inline-block;
  font-size: 30px;
}

.social-links li a {

  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.social-links .fa{
  border: 1px solid #55acee;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  padding: 10px;
}

.social-links li.twitter a {
  color: #55acee;
}

.social-links li.googleplus a {
  color: #f8c637;

}

.social-links li.facebook a {
  color: #3b5998;
}



/* CAROUSEL  -----------------------------------------------------------------------------*/

#carousel-home-1{
  height: 325px;
  background-color: #fff;

}
#carousel-home-1 .item, #carousel-home-2 .item{
  text-align: center;
}
#carousel-home-1 .item img, #carousel-home-2 .item img{
  display: inline;
}
#carousel-home-1 .carousel-caption, #carousel-home-2 .carousel-caption{
  position: static;
  color: #828282;
  text-shadow: none;
}
#carousel-home-1 .carousel-control, #carousel-home-2 .carousel-control{
  background-image: none;
  text-shadow: none;
  color: #EBEBEB;
  font-size: 20px;
  position: absolute;
  top: -65px;
}
#carousel-home-2 .carousel-control{
  top: 0;
}
#carousel-home-1 .carousel-control span, #carousel-home-2 .carousel-control span{
  border: 1px solid #8F8F8F;
  border-radius: 50%;
  padding: 15px;
  height: auto;
  width: auto;
}
#carousel-home-1 .carousel-caption h3{
  color: #7A7A98;
}
#carousel-home-2{
  height: 303px;
  padding-top: 42px;
  background: #071422 url(/assets/images/bg-carousel2-home.png);
}
#carousel-home-2 .item img{
  border-radius: 50%;
}
#carousel-home-2 .carousel-caption h3{
  color: #fff;
  font-size: bold;
}
.orange-underline{
  background: #FFB517;
  height: 1px;
  width: 85px;
  margin: 0 auto 20px;
}
#carousel-home-2 .carousel-caption img{
  height: 15px;
  width: auto;
  margin: -10px 10px 0 10px;
}
.carousel-indicators {
  display: none;
}
#carousel-home-1 h2{
  text-align: center;
  font-size: 40px;
  color: #8F8F8F;
}


/* BACKGROUND IMAGE  --------------------------------------------------------------------- */
.backstretch {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  pointer-events: none;
}


/* SECTIONS  ----------------------------------------------------------------------------- */
.box-pcltf {
  color: #444;
  box-sizing: border-box;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.box-player, .box-coaches, .box-fan,  .box-team {
  margin-top: 110px;
background-position: center;
  background-repeat: repeat;
  background-image: url("../../assets/images/pasek.png");
}

.box-coaches {

}

.box-fan {

}

.box-team {

}


.big-font-section {
  text-align: center;
  color: #444;
  padding: 0px;
  font-size: 20px;
}

.margin-pcltf {
  color: #444;
  margin-top: 130px;
  height: 80px;
}

.box-why {
  color: #333;
  margin-top: 50px;
  margin-bottom: 20px;
}

.big-font-why{
  font-family: 'Oswald', sans-serif;
font-size: 40px;
  text-align: center;
  color: #333;
}
.chosen-box-gradient {
  background-repeat: repeat-x;
  background-image: url("../../assets/images/pasek.png");
  background-color: #fff;

}
.chosen-box {
  color: #444;
  width: 100%;
  margin: 0px; padding: 0px;
  /* background-image: url("../../assets/images/grey_wash_wall.png"); */
  background-repeat: repeat-x;
  background-position: bottom;
  background-image: url("../../assets/images/pasek1.png");
  background-color: #eee;


}

.chosen-title {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: start;
  color: #333;
  margin-top: 0px;
  margin-bottom: 0px;
}


.chosen-title-img {
  font-size: 28px;
  color: #333;
  font-family: 'Oswald', sans-serif;
  text-align: center;

}



.chosen-text {
  margin-top: 5px;
 margin-bottom: 30px;
  text-align: start;
  color: #333;
  font-size: 20px;
}

.our-button {
  background-color: #f8c637;
  color: #fff;
  border: solid 1px #f4b400;
}


h1, h2, h3, h4, h5, h6 {
  border-bottom: 0px;

}

.kolko {
  background-color: #f1a227;
  border-radius: 20%;
  height: 60px;
  width: 60px;
  font-size: 36px;
  color: #fff;
  text-align: center;
  padding-top: 9px;



}


/* FREE OR GOLD ========================================== */

.freeorgold {
  background-color: #333;
  margin: 0px;
  padding: 0px;
  border-top: solid 1px #333;
  background-repeat: repeat-x;
  background-position: top;
  background-image: url("../../assets/images/pasek.png");
}

.red-check {
  margin-left: 30px;
  padding-bottom: 20px;
  color: #888;
  font-size: 20px;
  margin-right: 10px;
}

.green-check {
  padding-bottom: 20px;
  color: #f8c637;
  font-size: 20px;
  margin-right: 10px;
}

.grey-check {
  margin-left: 30px;
  padding-bottom: 20px;
  color: #ccc;
  font-size: 20px;
  margin-right: 10px;
}
.grey-check-font {
  font-size: 17px;
  color: #ccc;
}

.free-box {

  margin-bottom: 50px;
  padding: 0px;
  min-width: 260px;
  background-color: #fff;
  color: #444;
  font-size: 20px;
  border-left: solid 2px #eee;
  border-right:solid 2px #eee;
  border-bottom: solid 2px #eee;
}

.free-font {
  font-size: 17px;
  color: #444;
}

.big-font-free {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: #999;

}
.gold-box {

  padding: 0px;
  margin-bottom: 50px;
  min-width: 360px;
  background-color: #fff;
  color: #444;
  font-size: 20px;
  border-left: solid 2px #eee;
  border-right:solid 2px #eee;
  border-bottom: solid 2px #eee;
}
.gold-font {
  padding-left: 30px;
  font-size: 17px;
  color: #444;
}

.first-font {
  font-family: 'Oswald', sans-serif;
  margin-top: 10px;
  color: #999;
  font-size: 20px;

}
.big-font-gold {
  font-family: 'Oswald', sans-serif;
  color: #f8c637;
  font-size: 40px;
}


/* kolko ====================================================== */
.img-main {
  outline:0;
  transition: all 0.3s linear;
}

.img-main:hover, .img-main:active, .img-main:focus {
  outline:0;
  -webkit-filter: saturate(130%);
  -moz-filter: saturate(130%);
  -o-filter: saturate(130%);
  color: transparent;
  transform: scale(1.06);

}


.img-rounded {
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 200px;
  min-width: 50px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}



.cookies {
  background-color: #222;
  border-top: solid 1px #5a4814;
  height: 100%;
}

/* carousel =================================================== */

.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}

.slides_control {
  position: relative;
  padding: 0;
}

/* carousel 1 =================================================== */

#carousel1,#carousel2{
  background-color: white;
}

/* carousel 2 =================================================== */



/* about-us  =================================================== */


#about-us{
  background-color: #F7F7F7;
;
  margin: 0;
  padding: 0;
}

#about-us>div{
  margin: 0;
  padding: 0;
  height: 456px;

}
#about-us>div:first-child, #about-us>div:last-child{
  padding-top: 100px;
  text-align: center;
}

#players-image{
  background: url(/assets/images/main-img2.jpg) no-repeat;
  width: auto;
  height: 455px;
  background-position: center;
  background-size: cover;
}
#ball-image{
  background: url(/assets/images/main-img1.jpg) no-repeat;
  width: auto;
  height: 455px;
  background-position: center;
  background-size: cover;
}




/* MEDIA ====================================================== */


/* max - 1046 */
@media (min-width: 1050px) {
  .chosen-title {
    font-size: 30px;
  }

  .chosen-title-img {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;

  }

  .chosen-text {
    font-size: 20px;
  }

}




/* 1436 i w dół */
@media (max-width: 1600px) {
  .big-font-gold {
    font-size: 24px;
  }

  .big-font-free {
    font-size: 24px;

  }

  .first-font {
    margin-bottom: 3px;
    font-size: 16px;
  }

  .free-font, .gold-font {
    font-size: 15px;
  }
  .chosen-title {
    font-size: 20px;
    margin-left: 23px;
  }
  .chosen-title-img {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;

  }

  .chosen-text {
    margin-left: 20px;
    font-size: 15px;
  }

  .kolko {
    height: 45px;
    width: 45px;
    font-size:28px;
    padding-top: 7px;
  }

  .gold-box {
    min-width: 250px;
  }

  .free-box {
    min-width: 260px;
  }

}

/* baardzo malutkie */
@media (max-width: 500px) {
  .chosen-title {
    padding-left: 40px;
    font-size: 20px;
    text-align: start;
    margin-top: 0px;
    margin-bottom: 10px;


  }
  .chosen-title-img {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;

  }

  .chosen-text {
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    text-align: start;
    font-size: 15px;
    margin-bottom: 40px;
  }

  .logo {
    padding-top: 17px;
    height: auto;
    width: 60px;
  }


  .big-font-section {
    text-align: center;
    padding: 0px;
    font-size: 25px;
  }

}
