<div focusable-popover="">
    <!--<div ng-repeat="invitation in invitations">-->
    <!--<div class="media">-->
    <!--<div class="media-left">-->
    <!--<a ui-sref="profile.common-story({id: invitation._id})">-->
    <!--<img class="media-object" src="photos/{{invitation.profilePhoto}}" alt="" style="width:64px;height:64px;">-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="media-body">-->
    <!--<h4 class="media-heading">{{invitation.firstName}} {{invitation.lastName}}</h4>-->

    <!--<div class="form-group">-->
    <!--<button class="btn btn-success" ng-click="acceptInvitation(invitation._id)">Accept</button>-->
    <!--<button class="btn btn-danger" ng-click="rejectInvitation(invitation._id)">Reject</button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->



    <div ng-repeat="assignRequest in assignRequestsLeague">

        <div class="media" ng-repeat="request in assignRequest.requests" ng-show="request._id.length > 0">
            <div class="media-left">
                <!--<a ui-sref="profile.common-story({id: assignRequest._id})">-->
                <!--<img class="media-object" src="photos/user.png" alt="" style="width:64px;height:64px;">-->
                <!--<img class="media-object" src="photos/user.png" alt="" style="width:64px;height:64px;">-->
                <!--</a>-->
                <a ui-sref="#">
                    <img class="media-object" src="photos/{{ assignRequest.team.logoTeam }}" alt="" style="width:64px;height:64px;">
                </a>
            </div>
            <div class="media-body">
                <div ng-if="assignRequest.team.teamName">
                    <h4 class="media-heading">{{assignRequest.team.teamName}}</h4>

                    <div ng-if="request.isPresent">
                      Team {{assignRequest.team.teamName}}  Wants to assigned to your league
                    </div>

                </div>
                <div ng-if="!request.name">
                    <h4 class="media-heading">{{assignRequest.firstName}} {{assignRequest.lastName}}</h4>

                    <div ng-if="!request.isPresent">
                        <div ng-if="!request.isPresent">
                            Ask for confirmation of being your member in the past from {{request.dateFrom | date :
                            'yyyy-MM'}} to {{request.dateTo | date : 'yyyy-MM'}}
                        </div>
                        <div ng-if="request.isPresent">
                            Ask for confirmation of being your member since {{request.dateFrom | date : 'yyyy-MM'}}
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" ng-click="acceptAssignToLeague(request, $index)">Accept</button>
                        <button class="btn btn-danger" ng-click="rejectAssignToLeague(request, $index)">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="user.kind === 'league'">
        <div ng-show="assignRequestsLeague.length == 0" ng-hide="assignRequestsLeague.length > 0">You have no requests.</div>
    </div>
    <div ng-repeat="assignRequest in assignRequests">

        <div class="media" ng-repeat="request in assignRequest.requests" ng-show="request._id.length > 0">
            <div class="media-left">
                <!--<a ui-sref="profile.common-story({id: assignRequest._id})">-->
                <!--<img class="media-object" src="photos/user.png" alt="" style="width:64px;height:64px;">-->
                <!--<img class="media-object" src="photos/user.png" alt="" style="width:64px;height:64px;">-->
                <!--</a>-->
                <a ui-sref="#">
                    <img class="media-object" src="photos/user.png" alt="" style="width:64px;height:64px;">
                </a>
            </div>
            <div class="media-body">
                <div ng-if="assignRequest.team.teamName">
                    <h4 class="media-heading">{{assignRequest.team.teamName}}</h4>

                    <div ng-if="request.isPresent">
                        Wants to recruit you!
                    </div>

                </div>
                <div ng-if="!request.name">
                    <h4 class="media-heading">{{assignRequest.firstName}} {{assignRequest.lastName}}</h4>

                    <div ng-if="!request.isPresent">
                        <div ng-if="!request.isPresent">
                            Ask for confirmation of being your member in the past from {{request.dateFrom | date :
                            'yyyy-MM'}} to {{request.dateTo | date : 'yyyy-MM'}}
                        </div>
                        <div ng-if="request.isPresent">
                            Ask for confirmation of being your member since {{request.dateFrom | date : 'yyyy-MM'}}
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success" ng-click="acceptAssign(request, $index)">Accept</button>
                        <button class="btn btn-danger" ng-click="rejectAssign(request, $index)">Reject</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="user.kind === 'team'">
        <div ng-show="assignRequest.requests.length == 0" ng-hide="assignRequest.length > 0">You have no requests.</div>
    </div>

</div>

