<nav class="navbar navbar-fixed-top navbar-inverse header  logo-nav" ng-controller="NavbarCtrl" style="z-index:49;">
  <div class="container" >
    <div class="navbar-header">

      <a href="#" class="navbar-brand"><img src="assets/images/podyum.png" ></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1" ng-click="isCollapsedTop = !isCollapsedTop">
        <i class="glyphicon glyphicon-search"></i>
      </button>

    </div>
    <div collapse="isCollapsedTop" class="collapse navbar-collapse" id="navbar-collapse1">
      <form class="navbar-form navbar-left" >
        <div class="input-group">
          <search></search>
        </div>
      </form>


      <ul class="social-links">






        <li  class="googleplus pull-right"><a href="#" ng-click="logout()" confirm="Are you sure you want to logout?"
                                   confirm-title="Logout confirmation"><span class="logout-icon"></span></a></li>

        <li class="googleplus pull-right"><a href="#"  popover-template="'components/navigationbar/notification.html'"
                                             ng-click="updateNotifications()" popover-placement="bottom" popover-title="Notification"><span class="message-icon">
        </span></a></li>


        <li class="googleplus pull-right"><a href="#"   popover-template="'components/navigationbar/messages.html'" popover-placement="bottom"
                                             popover-title="Messages"><span class="letter-icon"></span>


        <li class="googleplus pull-right"><a href="#" popover-template="'components/navigationbar/invitation.html'" popover-placement="bottom"><i class="user-icon"></i></a></li>

        </a></li>

      </ul>


      <!-- obrazki z numerkami
      <a href="#" style="margin-left:2px;" class="transparent-btn navbar-btn btn btn-default pull-right"
         ng-click="logout()" confirm="Are you sure you want to logout?" confirm-title="Logout confirmation"><img ng-src="assets/svg/icon-logout.svg"></a>

      <a href="#" style="margin-left:2px;" popover-template="'components/navigationbar/notification.html'" ng-click="updateNotifications()" popover-placement="bottom"
         popover-title="Notification" class="transparent-btn navbar-btn btn btn-default pull-right"><img ng-src="assets/images/topnavbarico/bell{{notificationsNumber}}.png"></a>

      <a href="#" style="margin-left:2px;" popover-template="'components/navigationbar/messages.html'" popover-placement="bottom" popover-title="Messages"
         class="transparent-btn navbar-btn btn btn-default pull-right"><img ng-src="assets/images/topnavbarico/cloud{{messageNumber}}.png"></a>

      <a href="#" popover-template="'components/navigationbar/invitation.html'" popover-placement="bottom" popover-title="Invitations"
         class="transparent-btn navbar-btn btn btn-default pull-right"><img ng-src="assets/images/topnavbarico/icon_user{{invitations.length + assignRequests.length}}.png"></a>
         -->
    </div>
  </div>
</nav>

<!-- navigation bar 2 (bottom) --------------- -->
<div class="navbar navbar-default navbar-fixed-top menu-nav" id="subnav">
  <div class="container" ng-controller="NavbarCtrl" >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse2" ng-click="isCollapsedBottom = !isCollapsedBottom">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <div collapse="isCollapsedBottom" class="collapse navbar-collapse" id="navbar-collapse2">
      <ul class="nav navbar-nav">
        <li ng-class="{active: isActive('/home')}"><a ui-sref="home.update-status">Home</a></li>
        <li ng-class="{active: isActive('/profile')}"><a ui-sref="profile.common-story({id:null})" role="button" data-toggle="modal">Profile</a></li>
        <li ng-class="{active: isActive('/teams')}"><a ui-sref="teams" role="button" data-toggle="modal">My Teams</a></li>
        <li ng-class="{active: isActive('/friends')}"><a ui-sref="friends" role="button" data-toggle="modal">Friends</a></li>
        <li ng-class="{active: isActive('/users')}"><a ui-sref="users" role="button" data-toggle="modal">Users</a></li>
        <li ng-class="{active: isActive('/jobs')}"><a ui-sref="jobs" role="button" data-toggle="modal" ng-show="user.role==='premium'">Jobs & internships</a></li>
        <li ng-class="{active: isActive('/recruiting')}"><a ui-sref="recruiting" role="button" data-toggle="modal" ng-show="user.role==='premium'">Recruiting</a></li>
      </ul>
    </div>
  </div>
</div>
