
<div class="col-lg-3 athlete-item" ng-repeat="player in players | filter:q | filter:position ">

    <div class="head-tools">

        <div class="number">
            <h3 class="md-headline"># {{ player.player.number }} WR</h3>
        </div>

        <div class="tools">
            <edit-player-modal player="player" update="updatePlayers"><div class="edit"></div></edit-player-modal>
            <div class="delete" ng-click="delete(player.assigned._id)"></div>
           <send-message-modal receiver="player"> <div class="message"></div></send-message-modal>
        </div>
    </div>

    <div class="name">
        <h3 class="md-headline"> {{ player.player.firstName }} {{ player.player.lastName }} </h3>
        <p class="md-body-1"> {{ player.player.weight }} {{ player.player.height }} Lbs {{ (player.player.born.length > 0) ?  calculateAge(player.player.born) : calculateAge(player.player.birthday)  }} Years Old </p>
    </div>

    <div class="photo">
        <img src="photos/{{ player.profilePhoto }}">
    </div>
    <div class="info">

        <h3 class="md-subhead">BORN : </h3>
        <p class="md-body-1">{{ player.player.born | date: 'longDate' }}</p>

        <h3 class="md-subhead">BIRTH PLACE : </h3>
        <p class="md-body-1"> {{ player.player.birthPlace }} </p>

        <h3 class="md-subhead">EXPERIENCE : </h3>
        <p class="md-body-1"> {{ player.player.experience }} </p>

        <h3 class="md-subhead">HIGH SCHOOL : </h3>
        <p class="md-body-1"> empty </p>

    </div>
</div>
