<div class="col-lg-12 list-item" ng-repeat="player in players | filter:q | filter:position ">

    <div class="number">
        <h3 class="md-headline"># {{ player.player.number }} WR</h3>
    </div>

    <div class="photo">
        <img src="https://placeholdit.imgix.net/~text?txtsize=9&txt=100%C3%97100&w=135&h=135">
    </div>

    <div class="name col-lg-2">
        <h3 class="md-headline">{{ player.player.firstName }} {{ player.player.lastName }}</h3>
        <p class="md-body-1"> {{ player.player.weight }} {{ player.player.height }} Lbs {{ (player.player.born.length > 0) ?  calculateAge(player.player.born.length) : calculateAge(player.player.birthday)  }} Years Old</p>
    </div>
    <div class="info">

        <div class="col-lg-2">
            <h3 class="md-subhead">BORN : </h3>
            <p class="md-body-1">{{ player.player.born }}</p>

            <h3 class="md-subhead">BIRTH PLACE : </h3>
            <p class="md-body-1">{{ player.player.birthPlace }}</p>
        </div>
        <div class="col-lg-2">
            <h3 class="md-subhead">EXPERIENCE : </h3>
            <p class="md-body-1"> {{ player.player.experience }}</p>

            <h3 class="md-subhead">HIGH SCHOOL : </h3>
            <p class="md-body-1">empty</p>
        </div>
    </div>

    <div class="tools">
        <edit-player-modal player="player" update="updatePlayers"><div class="edit"></div></edit-player-modal>
        <div class="delete"  ng-click="delete(player.assigned._id)"></div>
        <send-message-modal receiver="player"> <div class="message"></div></send-message-modal>
    </div>
</div>