<div class="manage-roster">
    <div class="add-user-form">
        <div class="col-lg-offset-1 padding-top">
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" class="input" placeholder="First Name" ng-model="athlete.firstName">
                </div>

                <div class="form-group">
                    <input type="text" class="input" placeholder="Email Address" ng-model="athlete.email">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" class="input" placeholder="Last Name" ng-model="athlete.lastName">
                </div>
                <div class="small">
                    <div class="form-group">
                        <input type="text" class="input small-input" placeholder="Height" ng-model="athlete.height">
                    </div>
                </div>
                <div class="small">
                    <div class="form-group">
                        <input type="text" class="input small-input" placeholder="Weight" ng-model="athlete.weight">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small">
                    <div class="form-group">
                        <input type="number" class="input small-input" placeholder="Jersey number" ng-model="athlete.number">
                    </div>
                </div>
                <div class="small">
                    <div class="form-group">
                        <input type="text" class="input small-input" placeholder="Position" ng-model="athlete.position">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="small">
                    <div class="form-group">
                        <input type="number" class="input small-input" placeholder="Birth place" ng-model="athlete.birthPlace">
                    </div>
                </div>
                <div class="small">
                    <div class="form-group">
                        <input type="text" class="input small-input" placeholder="Born" ng-model="athlete.born">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>