<div class="manage-roster">
    <div class="add-user-form">
        <form name="athleteForm" novalidate ng-submit="addAthlete(athleteForm)" id="add-athlete">
            <div class="col-lg-offset-half padding-top">
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="input" name="firstName" placeholder="First Name"
                               ng-model="athlete.firstName" required="">

                        <div ng-show="athleteForm.$submitted || athleteForm.firstName.$touched">
                            <div ng-show="!athlete.firstName || !athlete.firstName"><label class="error">Field is
                                required</label></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="input" name="email" placeholder="Email Address"
                               ng-model="athlete.email" required="">

                        <div ng-show="athleteForm.$submitted || athleteForm.email.$touched">
                            <div ng-show="!athlete.email || !athlete.email"><label class="error">Field is
                                required</label></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <input type="text" class="input" name="lastName" placeholder="Last Name"
                               ng-model="athlete.lastName" required="">

                        <div ng-show="athleteForm.$submitted || athleteForm.lastName.$touched">
                            <div ng-show="!athlete.lastName || !athlete.lastName"><label class="error">Field is
                                required</label></div>
                        </div>
                    </div>
                    <div class="small">
                        <div class="form-group">
                            <input type="text" class="input small-input" name="height" placeholder="Height"
                                   ng-model="athlete.height" required="">

                            <div ng-show="athleteForm.$submitted || athleteForm.height.$touched">
                                <div ng-show="!athlete.height || !athlete.height"><label class="error">Field is
                                    required</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="small">
                        <div class="form-group">
                            <input type="text" class="input small-input" name="weight" placeholder="Weight"
                                   ng-model="athlete.weight" required="">

                            <div ng-show="athleteForm.$submitted || athleteForm.height.$touched">
                                <div ng-show="!athlete.weight || !athlete.weight"><label class="error">Field is
                                    required</label></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="small">
                        <div class="form-group">
                            <input type="text" class="input small-input" placeholder="Jersey number"
                                   ng-model="athlete.number" name="number" required="">

                            <div ng-show="athleteForm.$submitted || athleteForm.number.$touched">
                                <div ng-show="!athlete.number || !athlete.number"><label class="error">Field is
                                    required</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="small">
                        <div class="form-group">

                            <select class="select-position select" ng-model="athlete.position">
                                <option  value="">Select Position</option>
                                <option ng-repeat="position in positions" value="{{ position }}">{{ position }}</option>
                            </select>

                            <div ng-show="athleteForm.$submitted || athleteForm.position.$touched">
                                <div ng-show="!athlete.position || !athlete.position"><label class="error">Field is
                                    required</label></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="small">
                        <div class="form-group">
                            <input type="text" name="birthPlace" class="input small-input" placeholder="Birth place"
                                   ng-model="athlete.birthPlace">

                            <div ng-show="athleteForm.$submitted || athleteForm.birthPlace.$touched">
                                <div ng-show="!athlete.birthPlace || !athlete.birthPlace"><label class="error">Field is
                                    required</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="small">
                        <div class="form-group">
                            <div moment-picker="athlete.born" format="YYYY-MM-DD" class="div">
                                <input type="text" name="born" class="input small-input" placeholder="Select a date"
                                       ng-model="athlete.born" class="form-inline" required=""/>

                                <div ng-show="athleteForm.$submitted || athleteForm.born.$touched">
                                    <div ng-show="!athlete.born || !athlete.born"><label class="error">Field is
                                        required</label></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="add-athlete">
                <button class="btn btn-default our-button addAthlete" type="submit"><span>add athlete</span>
                </button>
            </div>
        </form>
    </div>

    <div class="search-section">
        <div class="col-lg-4 col-lg-offset-4">
            <h3 class="md-headline text-center">2015 South dakota roster</h3>
        </div>
        <div class="col-lg-1">
            <div class="circle"></div>
        </div>
    </div>
    <div class="search-form">

        <div class="row">
            <div class="col-lg-offset-2">
                <div class="col-lg-1">
                    <select class="select-number select" ng-model="number">
                        <option  value="">#</option>
                        <option ng-repeat="player in players | orderBy:'numberPlayer'" value="{{ player.player.number }}">{{ player.player.number }}</option>
                    </select>
                </div>
                <div class="col-lg-2">
                    <select class="select-position select" ng-model="position">
                        <option  value="">Position</option>
                        <option ng-repeat="position in positions" value="{{ position }}">{{ position }}</option>
                    </select>

                </div>
                <div class="col-lg-4">
                    <input type="text" class="input" ng-model="name" placeholder="Search" ng-model="text">
                </div>
                <div class="col-lg-2">
                    <select class="select-season select" ng-model="season">
                        <option >#</option>
                    </select>
                </div>
                <div class="col-30">
                    <button class="btn btn-default our-button switch-btn blocks "
                            ng-class="{ 'active': template.viewBlocks}" ng-click="switch('blocks')"></button>
                </div>
                <div class="col-30">
                    <button class="btn btn-default our-button switch-btn lines"
                            ng-class="{ 'active': template.viewLines}" ng-click="switch('lines')"></button>
                </div>
            </div>
        </div>

    </div>

    <div class="container-athlete">
        <div class="athlete-items" ng-include="template.url">


        </div>
    </div>
</div>

