div PASSER:
  input(type="number", ng-model="event.data.player")
div(ng-repeat="passAction in passActions" class="btn-group", role="group")
  button(type="button", class="btn", ng-click="choosePassAction($index)")
    | {{passAction}}
.row
  button(class="btn btn-success", ng-show="pass >= 0 && event.data.player > 0", ng-click="next()")
    | NEXT


