<div class="schedule">

    <div class="section-form">

        <div class="md-headline header-title">
            Schedule 2015-2016
        </div>
        <div class="form-team col-lg-offset-3">

            <div class="col-lg-5">
                <select class="select-team">
                    <option>Wroclaw Panthers</option>
                </select>
            </div>
            <div class="col-lg-2">
                <select class="select-year">
                    <option>2015</option>
                </select>
            </div>
        </div>

    </div>

    <div class="container">

        <div class="add-game">
            <button class="pull-right btn btn-default our-button" ng-click="open()"><span></span> add game</button>
        </div>
        <div class="games" ng-repeat="game in games">


            <game-schedule id="game._id" index="$index" time="game.time" sport="game.sport" place="game.place" stream="game.liveStream"
                           stadium="game.stadiumArena" team1="game.team1" team2="game.team2" league="game.league"
                           date="game.date" data="game.data">

            </game-schedule>

        </div>

    </div>
    <script type="text/ng-template" id="ModalAddGame.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Game</h3>
        </div>
        <div class="modal-body add-game">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="league" class="col-sm-2 control-label">League:</label>

                    <div class="col-sm-10">
                        <select id="league" class="form-control" ng-model="game.league" ng-change="onChange(game.league)">
                            <option ng-repeat="league in leagues"
                                    value="{{league._id}}">
                                {{league.leagueName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="home_team" class="col-sm-3 control-label">Team 1:</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" disabled ng-model="team1[0].teamName" id="home_team">
                    </div>
                </div>
                <div class="form-group"  ng-show="teams.length > 0">
                    <label for="guests" class="col-sm-3 control-label">Team 2:</label>

                    <div class="col-sm-9">
                        <select id="guests" class="form-control" ng-model="game.team2">
                            <option ng-repeat="team in teams"
                                    value="{{team._id}}">
                                {{team.teamName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="league" class="col-sm-2 control-label">Date:</label>

                    <div class="col-sm-10">
                        <md-datepicker class="margin-top col-lg-offset-2" ng-model="game.date"
                                       md-placeholder="Enter date"></md-datepicker>
                    </div>
                </div>
                <div class="form-group">
                    <label for="league" class="col-sm-2 control-label">Time:</label>

                    <div class="col-sm-10">
                        <div class="col-lg-offset-3">
                            <timepicker ng-model="time" hour-step="1" minute-step="1" show-meridian="true"></timepicker>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="place" class="col-sm-2 control-label">Place:</label>

                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="game.place" id="place">
                    </div>
                </div>
                <div class="form-group">
                    <label for="stadium_arena" class="col-sm-3 control-label">Stadium/Arena:</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="game.stadiumArena" id="stadium_arena">
                    </div>
                </div>
                <div class="form-group">
                    <label for="live_stream" class="col-sm-3 control-label">Live Stream:</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="game.liveStream" id="live_stream">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Home Team: </label>

                    <div class="col-sm-9">
                        <md-radio-group ng-model="game.homeTeam">
                            <label>
                                <md-radio-button type="radio" value="team1" checked  class="md-primary">Team 1</md-radio-button>
                            </label>
                            <label>
                                <md-radio-button type="radio" value="team2" checked class="md-primary">Team 2</md-radio-button>
                            </label>
                        </md-radio-group>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Guest Team: </label>

                    <div class="col-sm-9">
                        <md-radio-group ng-model="game.guestTeam">
                            <label>
                                <md-radio-button type="radio" value="team1" checked  class="md-primary">Team 1</md-radio-button>
                            </label>
                            <label>
                                <md-radio-button type="radio" value="team2" checked class="md-primary">Team 2</md-radio-button>
                            </label>
                        </md-radio-group>
                    </div>
                </div>
                </div>

        </div>
        </form>


        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="save()">Save</button>
            <button class="btn btn-warning" type="button" ng-click="close()">Cancel</button>
        </div>
    </script>
</div>
