div
  p Min age: {{ age.min }}
  md-slider(flex min="10" max="60" ng-model="age.min" aria-label="min")
  p Max age: {{ age.max }}
  md-slider(flex min="10" max="60" ng-model="age.max" aria-label="max")
