[role="button"] {
  outline: none;
}

.text {
  padding-top:15px;
}
.result-section {
  padding-bottom:20px;
}
.score {
  padding: 30px;
  border: 2px solid;

  .h1 {
      font-size: 70px;
      color:#ff8000;
  }
}

.deffence {
  background: url('/assets/images/football-icon-inactive.png');
  width: 90px;
  height: 90px;
  background-size: cover;
}

.offence {
  background: url('/assets/images/football-icon-active.png');
  width: 90px;
  height: 90px;
  background-size: cover;
}

.timeout-icon {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 25px;
  float: left;
}

.timeout-icon-used {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 25px;
  border-width: 1px;
  float: left;
  border-color: black;
  border-style: solid;
}


.function-section {
	.btn-success {
		color: #fff;
		background-color: #5cb85c;
		border-color: #4cae4c;
	}
}
