.container
  div(class="row", style="text-align:center")
    .col-md-5
      div(ng-show="status.offense===0")
        | X
    .col-md-2
      button("btn" ng-click="swapPossession()")
        | SWAP
      button("btn btn-success btn-lg center-block" ng-if="isRunning" ng-click="startCount()")
        | {{counter | timerDisplay}} Q{{quart}}
      button("btn btn-success btn-lg center-block" ng-if="!isRunning" ng-click="startCount()")
        | {{counter | timerDisplay}} Q{{quart}}
    .col-md-5
      div(ng-show="status.offense===1")
        | X
  .row
    .col-md-2
      button(ng-click="show_team()"  class="btn")
       | test
      div(ng-repeat="player in roster1 track by $index")
        button(class="btn button-roster1-{{roster1Bool[$index]}}", ng-click="fromBench(1,$index)", style="width:100%;")
          | \#{{player.player.number}} {{player.player.firstName}} {{player.player.lastName}}
    div(class="col-md-8", style="text-align:center")
      .row
        .col-md-4
          div(class="score")
           .h1(ng-click="teamScore(1)")
            | {{game.data.score1}}
        .col-md-4
           div(class="score")
            .h1(ng-model="counter")
              | {{counter | timerDisplay}}
        .col-md-4
          div(class="score")
           .h1(ng-click="teamScore(2)")
            | {{game.data.score2}}
    .col-md-2
      div(ng-repeat="player in roster2 track by $index")
        button(class="btn button-roster2-{{roster2Bool[$index]}}", ng-click="fromBench(2,$index)", style="width:100%;")
          | \#{{player.player.number}} {{player.player.firstName}} {{player.player.lastName}}


  .row
      div(class="col-md-offset-3 col-md-6 result-section" style="text-align:center")
        .row
          .col-md-3
            .h3
              | DOWN
          .col-md-3
            .h3
              | TO GO
          .col-md-3
            .h3
              | BALL ON
          .col-md-3
            .h3
              | QTR
        .row
          .col-md-3
            .h3
              | {{status.down}}
          .col-md-3
             .h3
               | {{status.togo}}
          .col-md-3
             .h3
               | {{status.ballon}}
          .col-md-3
             .h3
               | {{status.quart}}

  .row
    div(class="col-md-offset-3 col-md-6 function-section" style="text-align:center")
      .row
        .col-md-4
          button(class="btn btn-success btn-lg", ng-click="TimeOut()", style="width:100%;")
            | Time out
        .col-md-4
          button(class="btn btn-success btn-lg", ng-click="startCount()", style="width:100%;")
            | Start/Stop
        .col-md-4
            button(class="btn btn-success btn-lg", ng-click="EndQuarter()", style="width:100%;")
              | End 1st Qt



  .row
    div(class="col-md-offset-3 col-md-6" style="text-align:center")
       p(class="text play_type")
        | Play Type
       div(class="btn-group btn-group-justified", role="group", aria-label="...")
         div(ng-repeat="play in plays", class="btn-group", role="group")
           button(type="button", class="btn btn-warning" ng-click="choosePlayType($index)")
             | {{play}}

  .row
    div(class="col-md-offset-3 col-md-6" style="text-align:center")
      p(class="text play_type")
       | Runner

      run-play(ng-show="playtype === 0" events='events' game='game' submit='submit' swap='swapPossession' team='team' status='status')
      pass-play(ng-show="playtype === 1" events='events' game='game' submit='submit' swap='swapPossession' team='team' status='status')
      special-teams(ng-show="playtype === 2" events='events' game='game' submit='submit' swap='swapPossession' team='team' status='status')
      penalty(ng-show="playtype === 3")

    div(ng-repeat="playDesc in playbyplay")
      | Play \#{{$index+1}}
      div(ng-repeat="event in playDesc")
        | {{event | footballDescription}}


