.subbar
   ul
      li(ui-sref-active='active')
         a(ui-sref='home.update-status.update-fans') Update fans
      li(ui-sref-active='active')
         a(ui-sref='home.update-status.event') Event
      li(ui-sref-active='active')
         a(ui-sref='home.update-status.add-question') Add a question
      li(ui-sref-active='active')
         a(ui-sref='home.update-status.milestone') Milestone