<div class="row">

    <div class="col-lg-4 col-lg-offset-0 current-task">

        <div  class="col-lg-12">

            <span class="md-display-1">Current Tasks</span>

            <div class="current-task-list col-lg-offset-1">

                <div class="task col-lg-12" ng-repeat="task in tasks">
                    <div class="col-lg-1">
                        <md-checkbox ng-model="task.isComplete" aria-label="{{ task.name }}">
                        </md-checkbox>
                    </div>
                    <div class="col-lg-10"><span class="task-name"><a href="#" class="md-headline"
                                                                      ng-click="viewTask(task._id)">{{ task.name
                        }}</a></span></div>
                </div>

            </div>
        </div>
        <div class="col-lg-12" style="margin-top: 40px;" >

            <span class="md-display-1">My Tasks</span>

            <div class="current-task-list col-lg-offset-1">

                <div class="task col-lg-12" ng-repeat="mytask in MyTasks">
                    <div class="col-lg-1">
                        <md-checkbox ng-model="mytask.isComplete" aria-label="{{ mytask.name }}">
                        </md-checkbox>
                    </div>
                    <div class="col-lg-10"><span class="task-name"><a href="#" class="md-headline"
                                                                      ng-click="viewTask(mytask._id)">{{ mytask.name
                        }}</a></span></div>
                </div>

            </div>
        </div>


        <!--<pre>{{ tasks }}</pre>-->
    </div>

    <div class="col-lg-7 col-lg-offset-1 view-task" id="viewTask" ng-show="taskView[0]">
        <form class="form-horizontal">
            <div class="row">

                <div class="col-lg-4">
                    <md-autocomplete
                            ng-disabled="isDisabled"
                            md-selected-item="selectedItem"
                            md-search-text-change="searchTextChange(searchText)"
                            md-search-text="searchText"
                            md-selected-item-change="selectedItemChange(item)"
                            md-items="item in querySearch(searchText)"
                            md-item-text="item.display"
                            md-min-length="0"
                            placeholder="Task for">
                        <md-item-template>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
                        </md-item-template>
                </div>

                <div class="col-lg-4">
                    <md-datepicker ng-required="true" ng-model="taskView[0].dueDate"
                                   md-placeholder="Due Date"></md-datepicker>
                </div>

                <div class="col-lg-2">
                    <button class="btn btn-defaultour-button" ng-click="addSubTask(taskView[0]._id)">Add Sub Task</button>
                </div>
                <div class="col-lg-2">
                    <md-button   aria-label="Delete"  class="md-fab md-mini deleteTask" ng-click="deleteTask(taskView[0]._id)"
                             >
                        <md-tooltip>
                            Delete task
                        </md-tooltip>
                        <md-icon md-svg-src="assets/svg/ic_clear_white_24px.svg"></md-icon>
                    </md-button>

                </div>

            </div>
            <div class="row">
                <div class="col-lg-offset-0 view-task-section">
                    <div class="col-lg-2 complete-task">
                        <md-checkbox ng-model="taskView[0].isComplete" aria-label="{{ taskView[0].name }}">
                        </md-checkbox>
                    </div>

                    <div class="col-lg-10"><span class="task-name"><textarea resize-textarea class="task-name-textarea"
                                                                             ng-model="taskView[0].name"></textarea></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-3 control-label">Description</label>

                    <div class="col-sm-8">
                        <textarea class="task-description" required="" ng-model="taskView[0].description" rows="10"
                                  col="100"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 sub-tasks">
                    <h3 class="md-headline">Subtask</h3>


                    <div class="task col-lg-12" ng-repeat="subtask in subTaskView">
                        <div class="col-lg-1">
                            <md-checkbox ng-model="subtask.isComplete" aria-label="{{ subtask.name }}">
                            </md-checkbox>
                        </div>
                        <div class="col-lg-6"><span class="task-name"><textarea resize-textarea
                                                                                class="task-name-textarea"
                                                                                ng-model="subtask.name"></textarea></span>
                        </div>
                        <div class="col-lg-2">
                            <span class="task-date">{{ subtask.dueDate | date: "MMM dd"  }}</span>
                        </div>
                        <div class="col-lg-1">
                            <md-datepicker ng-required="true" ng-model="subtask.dueDate"
                                           md-placeholder="Due Date"></md-datepicker>
                        </div>
                        <div class="col-lg-1">
                            <md-button  aria-label="Assign"  class="md-fab md-mini assign-user" ng-click="openDialog($index, $event)">
                                <md-icon md-svg-src="assets/svg/ic_assignment_ind_white_24px.svg"></md-icon>
                            </md-button>
                        </div>
                        <div class="col-lg-1">
                            <md-button  aria-label="Delete"  class="md-fab md-mini deleteTask" ng-click="deleteSubTask(subtask._id)">
                                <md-tooltip>
                                    Delete sub task
                                </md-tooltip>
                                <md-icon md-svg-src="assets/svg/ic_clear_white_24px.svg"></md-icon>
                            </md-button>

                        </div>
                    </div>

                </div>

            </div>
        </form>
        <!--<pre>{{ subTaskView  }}</pre>-->
        <!--<pre>{{ taskView[0] }}</pre>-->
        <!--<pre>{{ taskFor }}</pre>-->
        <!--<pre>{{ forTask }}</pre>-->


    </div>


</div>