.endorse-button {
  background: #f8c637;
  color:white;
  border:0px;
}

.bio-headers {
  margin-top:20px;
  text-align:center;
  background-color:#F5F5F5;
  padding-top:10px;
}

pre {
  border:0px;
  background-color:#fff;
  font: 14px Roboto,arial,sans-serif;
}

#right_sidebar {
  width: 290px;
  margin: 0 auto;
  font-family: 'aileronregular';
  color: #616161;

}

#right_sidebar h2 {
  font-family: 'aileronlight';
  font-size: 20px;
  color: #827f79;
  line-height: 50px;
  padding-left: 15px;

}

.team-profile-side, .user-profile-side {
  background: #fff;
  border: 1px solid #f1f1f1;
  margin-bottom: 18px;
}



.team-profile-side .thumbnail {
  margin-left: 10px;
  margin-right: 10px;
}

.team-profile-side h2, .user-profile-side h2 {
  border-bottom: 1px solid #f1f1f1;
}

.user-profile-side .milestoneButton {
  margin: 0 0 0 30px;
}

.team-profile-side a {
  color: #fac553;
}

.team-profile-side .table {
  font-weight: normal;
  font-size: 12px;
}

.team-profile-side .table > tbody > tr > th {
  border: none;
}

.team-profile-side .table > tbody > tr > td {
  border-top: 1px solid #f1f1f1;
}

.sponsor-block {
  text-align: center;
}

.sponsor-block h4 {
  margin-top: 35px;
}

.choose-sport {
  text-align: center;
  padding: 15px;
  background: #eeeeee;
}

.choose-sport select {
  width: 100%;
  padding: 20px;
  border: none;
}

.team-profile-side .table-resultate tbody > tr > td,
.team-profile-side .table-resultate tbody > tr > th {
  border: 1px solid #f1f1f1;
  padding: 20px;
}

.team-profile-side .table-resultate {
  margin: 0;
}

.team-profile-side .form-group {
  margin: 0;
}

.team-profile-side .table-resultate tbody > tr:nth-child(odd) {
  background: #fcfcfc;
}

.team-profile-side .table-resultate tbody > tr > td a {
  color: #4a4a4a;
}
