<div class="container" style="margin-top:100px">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <div style="text-align:center;" class="info-card" style="height: 250px">
            <div class="main-picture"><img alt="" ng-src="photos/user.png" src="photos/user.png"></div>
            <div ng-switch="user.kind" class="kind-user"><!-- ngSwitchWhen: player --><!-- ngSwitchWhen: coach -->
              <!-- ngSwitchWhen: team -->
              <div ng-switch-when="team" class="ng-scope"><h3 class="ng-binding">team1</h3></div>
              <!-- end ngSwitchWhen: --><!-- ngSwitchWhen: league --><!-- ngSwitchWhen: fan --></div>
            <div class="follower-user"><p><span class="total ng-binding"> 0&nbsp;</span><span>Loyal Fans</span></p>
            </div>
            <!--<div>
            <p>Friends : {{friendsNumber}}</p>
            </div>--></div>
        </div>
        <div class="col-md-6">
          <div class="upcoming-schedule" style="height: 250px">
            <div class="table-header"><h3>Upcomming Schedule</h3></div>
            <table class="table table-striped">
              <tbody>
              <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
                <th>Event</th>
              </tr>
              <tr>
                <td>Live Now</td>
                <td>7:15 pm</td>
                <td><img alt="" ng-src="photos/user.png" src="photos/user.png">@Gdynia</td>
                <td>4th quartet 56-21</td>
              </tr>
              <tr>
                <td>Sun 11/15</td>
                <td>11:30 am</td>
                <td><img alt="" ng-src="photos/user.png" src="photos/user.png">@Rynek</td>
                <td>Football in square</td>
              </tr>
              <tr>
                <td>Mon 11/26</td>
                <td>6:00 pm</td>
                <td><img alt="" ng-src="photos/user.png" src="photos/user.png">Vs. Byalistok</td>
                <td class="text-center"><a href=""><img src="assets/images/play-btn.png" alt=""></a><a
                  ui-sref="manageStats" href="/manageStats"><img src="assets/images/stat-btn.png" alt=""></a></td>
              </tr>
              <tr>
                <td>Thur 11/29</td>
                <td>7:00 pm</td>
                <td><img alt="" ng-src="photos/user.png" src="photos/user.png">Vs. Warsaw Eagles</td>
                <td class="text-center"><a href=""><img src="assets/images/play-btn.png" alt=""></a><a
                  ui-sref="manageStats" href="/manageStats"><img src="assets/images/stat-btn.png" alt=""></a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-3">
          <div class="upcoming-schedule" style="height: 250px">
            <div class="table-header"><h3>Team Goals</h3></div>
            <table class="table table-striped">
              <tr>
                <td width="10%">
                  <span class="goal goal-reached"></span>
                </td>
                <td width="90%">
                  <span>Hold opponent to under 60 points</span>
                </td>
              </tr>
              <tr>
                <td width="10%">
                  <span class="goal goal-unreached"></span>
                </td>
                <td width="90%">
                  <span>Avarage 34% from 3 point</span>
                </td>
              </tr>
              <tr>
                <td width="10%">
                  <span class="goal goal-unreached"></span>
                </td>
                <td width="90%">
                  <span>Win 15 games</span>
                </td>
              </tr>
              <tr>
                <td width="10%">
                  <span class="goal goal-unreached"></span>
                </td>
                <td width="90%">
                  <span>Win Championship</span>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div ng-cloak>
            <md-content>
              <md-tabs id="top-tabs" class="md-dynamic-height md-border-bottom" md-align-tabs="top" md-selected="3">
                <md-tab id="update-team" md-on-select="">
                  <md-tab-label>UPDATE TEAM</md-tab-label>
                  <md-tab-body>
                    Some body
                  </md-tab-body>
                </md-tab>
                <md-tab id="message-team" md-on-select="">
                  <md-tab-label>MESSAGE TEAM</md-tab-label>
                  <md-tab-body>
                    Some body
                  </md-tab-body>
                </md-tab>
                <md-tab id="task-manager" md-on-select="">
                  <md-tab-label>TASK MANAGER</md-tab-label>
                  <md-tab-body>
                    Some body
                  </md-tab-body>
                </md-tab>
                <md-tab id="notifications" md-on-select="">
                  <md-tab-label>NOTIFICATIONS</md-tab-label>
                  <md-tab-body>
                    <div class="row row-advanced-controls-profile dark-grey">
                      <div class="col-md-12" style="text-align: center">
                        <h2>FAN ANALYTICS</h2>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-9 profile-content">
                        <md-tabs id="inside-tabs" class="md-dynamic-height md-border-bottom" md-align-tabs="top"
                                 md-selected="4">
                          <md-tab id="insights" md-on-select="" label="INSIGHT">
                            <md-content class="inner-tab-content">
                              <div class="row light-gray">
                                <div class="col-md-12">

                                </div>
                              </div>
                            </md-content>
                          </md-tab>
                          <md-tab id="days" md-on-select="" label="DAYS">
                            <md-content class="inner-tab-content">
                              <div class="row light-gray">
                                <div class="col-md-12">

                                </div>
                              </div>
                            </md-content>
                          </md-tab>
                          <md-tab id="weeks" md-on-select="" label="WEEKS">
                            <md-content class="inner-tab-content">
                              <div class="row light-gray">
                                <div class="col-md-12">

                                </div>
                              </div>
                            </md-content>
                          </md-tab>
                          <md-tab id="month" md-on-select="" label="MONTH">
                            <md-content class="inner-tab-content">
                              <div class="row light-gray">
                                <div class="col-md-12">

                                </div>
                              </div>
                            </md-content>
                          </md-tab>
                          <md-tab id="years" md-on-select="" label="YEARS">
                            <md-content class="inner-tab-content">
                              <div class="row light-gray">
                                <div class="col-md-12" style="padding-left: 50px;">
                                  <div class="row  white">
                                    <div class="col-md-12">
                                      <nvd3 options="chartOptions" data="chartData"
                                            style="min-width: 300px; min-height: 300px; display: block;"></nvd3>
                                    </div>
                                  </div>
                                  <div class="row  white">
                                    <div class="col-md-6" style="padding-left: 50px;">
                                      <h2>Fans by country</h2>

                                      <div id="chartdiv" class="chartdiv"></div>
                                      <div class="white">
                                        <ul class="list-unstyled country-list">
                                          <li ng-repeat="item in mapData | limitTo:mapDataLimit">
                                            <div class="row">
                                              <div class="col-md-1">
                                                <img src="{{item.flag}}" width="24" height="16"/>
                                              </div>
                                              <div class="col-md-8">
                                                {{item.name}}
                                              </div>
                                              <div class="col-md-3">
                                                {{item.value}}
                                              </div>
                                            </div>
                                          </li>
                                        </ul>
                                      </div>
                                      <div class="row white">
                                        <div class="col-md-12">
                                          <div class="view-all" ng-click="mapDataLimit = 300" ng-hide="mapDataLimit>10">
                                            <div class="view-all-content">
                                              View All
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-6 white">
                                      <h2>Link clicks</h2>

                                      <div class="row white">
                                        <div class="col-md-12">
                                          <nvd3 options="pieChartOptions" data="pieChartData"
                                                style="min-width: 300px; min-height: 300px; display: block;"></nvd3>
                                        </div>
                                      </div>
                                      <div class="row white">
                                        <div class="col-md-12">
                                          <div class="">
                                            <ul class="list-unstyled country-list">
                                              <li ng-repeat="item in linksData | limitTo:linkDataLimit">
                                                <div class="row">
                                                  <div class="col-md-10">
                                                    {{item.link}}
                                                  </div>
                                                  <div class="col-md-2">
                                                    {{item.views}}
                                                  </div>
                                                </div>
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row white">
                                        <div class="col-md-12">
                                          <div class="view-all" ng-click="linkDataLimit = 300"
                                               ng-hide="linkDataLimit>10">
                                            <div class="view-all-content">
                                              View All
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </md-content>
                          </md-tab>
                        </md-tabs>
                      </div>

                      <div class="col-md-3 profile-sidebar">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="upcoming-schedule" style="height: auto !important">
                              <div class="table-header">
                                <h3>Profile Views Tracker</h3>
                              </div>
                              <md-content class="light-gray info-card">
                                <md-list>
                                  <md-list-item class="md-3-line" ng-repeat="item in todos">
                                    <img ng-src="{{item.face}}?{{$index}}" class="md-avatar face" alt="{{item.name}}"
                                         width="55" height="55">

                                    <div class="md-list-item-text" layout="column">
                                      <h3>{{ item.name }}</h3>
                                      <h4>{{ item.position }}</h4>
                                    </div>
                                  </md-list-item>
                                </md-list>
                              </md-content>
                            </div>

                            <md-content style="overflow: hidden">
                              <div class="upcoming-schedule" style="height: auto !important">
                                <div class="table-header">
                                  <h3>Post & Pages</h3>
                                </div>
                                <div class="row white" style="padding-top: 20px;">
                                  <div class="col-md-9" style="padding-left: 30px;">
                                    Title
                                  </div>
                                  <div class="col-md-3">
                                    Views
                                  </div>
                                </div>
                                <div class="row white">
                                  <ul class="list-unstyled posts-list">
                                    <li ng-repeat="item in posts | limitTo:postsLimit">
                                      <div class="col-md-9">
                                        <a href="#">{{item.name}}</a>
                                      </div>
                                      <div class="col-md-3">
                                        {{item.views}}
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="row white">
                                  <div class="col-md-12">
                                    <div class="view-all" ng-click="postsLimit = 1000"
                                         ng-hide="postsLimit>100">
                                      <div class="view-all-content">
                                        View All
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </md-content>
                          </div>
                        </div>
                      </div>
                    </div>
                  </md-tab-body>
                </md-tab>
              </md-tabs>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

