.col-xs-12.col-sm-12.col-md-12
  .big-q(style="text-align: center") Set your profile photo!
  .col-md-1.col-sm-offset-0.col-xs-offset-0
  div(class="upload") +
    input(type="file" id="fileInput")
  .col-xs-12.col-sm-12.col-md-12(style="padding-left: auto; padding-right: auto;")
    div(style="height: 446px;margin: 43px auto;")
      img-crop(image='myImage' result-image='myCroppedImage' area-type="square" result-image-quality="1.0")
  div.preview-img(ng-show="myImage")
    div.md-title Preview:
    img(ng-src="{{myCroppedImage}}")
  .col-md-3(style="margin-left: 26%;" data-test="{{ myCroppedImage.length }}")
    a(ng-click='savePhoto()' type='button' class='md-button create-button' ng-show='myImage')  Save Photo
  .col-md-3(style="margin-left: 0%;")
    a(ng-click='cancelPhoto()' type='button' class='md-button create-button' ng-show='myImage')  Cancel

.col-xs-12.col-sm-12.col-md-12.row
  .col-xs-2.col-sm-3.col-md-3
  .col-xs-8.col-sm-6.col-md-6
    .col-xs-12.col-sm-12.col-md-12.row
      .col-xs-6.col-sm-6.col-md-6
        a(ui-sref="creator.type").md-button.create-button(ng-click="changeProgress(20)")
          .i(class="fa fa-arrow-left" style="font-size: 22px; margin: 0; padding: 0;")
          | &#32; Back
      .col-xs-6.col-sm-6.col-md-6
        a(ui-sref="creator.{{formData.type}}").md-button.create-button(ng-click="changeProgress(50)" ng-show="formData.type && formData.photo.length > 0")
          | Next step &#32;
          .i(class="fa fa-arrow-right" style="font-size: 22px; margin: 0; padding: 0;")
  .col-xs-2.col-sm-3.col-md-3
