<div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px; margin: 0px;" class="explore-tpl">
	<div class="explore-page">
	<log-navbar></log-navbar>
	<div id="topnav">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<a href="#">TOP</a>
					<a href="#">LATEST</a>
					<a href="#">MEDIA</a>
					<a href="#">PHOTOS</a>
					<a href="#">VIDEO</a>
				</div>
			</div>
		</div>
	</div>
	<div id="ll-content">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="ll-item">
								<div class="ll-item-top">
									<img src="assets/images/natalie-portman-portrait.png" />
									<div>Will Powell</div>
								</div>
								<div>"Podium is the best websites ever made"</div>
							</div>
							<div class="ll-item">
								<div class="ll-item-top">
									<img src="assets/images/man1.png" />
									<div>Adrian Peterson</div>
								</div>
								<img class="ll-item-img" src="assets/images/shoes-b-font-sneaker-Children.png" />
							</div>
							<div class="ll-item">
								<div class="ll-item-top">
									<div class="green-point"></div>
									<div>Live now</div>
								</div>
								<div class="ll-icons-block">
									<img src="assets/images/weicon.png" />10
									<span class="ll-orange-elem">3:15</span>
									<nobr>21<img src="assets/images/panthersicon.png" /></nobr>
								</div>
							</div>
							<div class="ll-item">
								<div class="ll-item-top">
									<img src="assets/images/maninglasses.png" />
									<div>Will Powell</div>
								</div>
								<div>"Podium is the best websites ever made"</div>
							</div>
							<div class="ll-item">
								<div class="ll-item-top">
									<img src="assets/images/maninglasses.png" />
									<div>Adrian Peterson</div>
								</div>
								<img class="ll-item-img" src="assets/images/shoes-b-font-sneaker-Children.png" />
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="ll-item">
								<div class="ll-item-top">
									<img src="assets/images/maninglasses.png" />
									<div>Kobe Bryant</div>
								</div>
								<div>Became #1 TD leader in team history</div>
								<ul>
									<li><img src="assets/images/maninglasses2.png" />1. Kobe Bryant</li>
									<li><img src="assets/images/man1sm.png" />2. Shaq O`neal</li>
									<li><img src="assets/images/natalie-portman-portrait.png" />3. Magic</li>
									<li><img src="assets/images/faa91e32b499597d19d0afc24116a489.png" />Johnson</li>
								</ul>
							</div>
							<div class="ll-item">
								<div class="ll-item-top">
									<div class="green-point"></div>
									<div>Live now</div>
								</div>
								<div class="ll-icons-block">
									<img src="assets/images/weicon.png" />10
									<span class="ll-orange-elem">3:15</span>
									<nobr>21<img src="assets/images/panthersicon.png" /></nobr>
								</div>
							</div>
							<div class="ll-item">
								<div class="ll-item-top">
									<img src="assets/images/maninglasses.png" />
									<div>Adrian Peterson</div>
								</div>
								<img class="ll-item-img" src="assets/images/shoes-b-font-sneaker-Children.png" />
							</div>
							<div class="ll-item">
								<div class="ll-item-top">
									<img src="assets/images/maninglasses.png" />
									<div>Kobe Bryant</div>
								</div>
								<div>Became #1 TD leader in team history</div>
								<ul>
									<li><img src="assets/images/maninglasses21.png" />1. Kobe Bryant</li>
									<li><img src="assets/images/maninglasses22.png" />2. Shaq O`neal</li>
									<li><img src="assets/images/maninglasses23.png" />3. Magic</li>
									<li><img src="assets/images/maninglasses24.png" />Johnson</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-sm-12 col-xs-12">
					<div style="z-index:100; background-color: rgba(255, 255,255, 1); margin-top: 15px; margin-right: 40px; border-radius: 6px"
						 class="col-md-12 col-sm-12 col-xs-12 sing-up explore-sing-up-form" ng-show='!isLogin'>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="landing-big-font">
								<h2>SIGN UP - IT'S FREE!</h2>
							</div>
							<form name="registerForm" ng-submit="register(registerForm)" novalidate=""
								  class="form registerForm">

								<div style="width: 49%; float: left"
									 ng-class="{ 'has-success': registerSubmitted,      'has-error': registerSubmitted }"
									 class="form-group"><input type="text" name="firstname" placeholder="First name"
															   ng-model="registerUser.firstName" required="" mongoose-error=""
															   class="form-control-sign-up">

									<p ng-show="(registerForm.firstname.$error.required) && registerSubmitted "
									   class="help-block">Field required</p>
								</div>
								<div style="width: 49%; float: right"
									 ng-class="{ 'has-success': registerSubmitted,      'has-error': registerSubmitted }"
									 class="form-group"><input type="text" name="lastName" placeholder="Last name"
															   ng-model="registerUser.lastName" required="" mongoose-error=""
															   class="form-control-sign-up">
									<p ng-show="(registerForm.lastName.$error.required) && registerSubmitted "
									   class="help-block">Field required</p>
								</div>
								<div ng-class="{ 'has-success': registerSubmitted,      'has-error': registerSubmitted }"
									 class="form-group"><input placeholder="Email" type="email" name="email"
															   ng-model="registerUser.email" required=""
															   class="form-control-sign-up ng-pristine ng-valid-email ng-invalid ng-invalid-required ng-touched"
															   aria-required="true" aria-invalid="true" style="">

									<p ng-show="(registerForm.email.$error.required) && registerSubmitted "
									   class="help-block">Field required</p>
									<p ng-show="registerForm.email.$error.mongoose" class="help-block">{{
										registerErrors.email }}
									</p>
								</div>
								<div ng-class="{ 'has-success': registerForm.password.$valid &amp;&amp; registerSubmitted,      'has-error': registerForm.password.$invalid &amp;&amp; registerSubmitted }"
									 class="form-group">
									<input type="password" name="password" placeholder="Password"
										   ng-model="registerUser.password" ng-minlength="3" required=""
										   mongoose-error="" class="form-control-sign-up">
									<p ng-show="(registerForm.password.$error.minlength || registerForm.password.$error.required) &amp;&amp; registerSubmitted"
									   class="help-block">Password must be at least 3 characters.</p>
									<p ng-show="registerForm.password.$error.mongoose" class="help-block">{{
										registerErrors.password }}
									</p>
									<input type="password" name="passwordConfirm"
										   placeholder="Password confirmation"
										   ng-model="registerUser.passwordConfirm"
										   style="margin-top:15px;"
										   class="form-control-sign-up">
									<p ng-show="!passwordConfirmed &amp;&amp; registerSubmitted" class="help-block">Password and
										confirmation do not match.
									</p>
								</div>
								<div ng-class="{ 'has-success': registerSubmitted,      'has-error': registerSubmitted }"
									 class="form-group">



									<div type="Date" name="date" class="form-control-sign-up">
										<md-datepicker ng-model="registerUser.birthday"
													   md-placeholder="Date of birth" class="col-lg-offset-1"></md-datepicker>

										<p ng-show="(registerUser.birthday + '').length == 0 && registerSubmitted "
										   class="help-block text-center">Field required</p>
									</div>

								</div>
								<div ng-class="{ 'has-success': registerSubmitted,      'has-error': registerSubmitted }"
									 class="form-group">
									<md-radio-group ng-model="registerUser.sex" class="col-lg-offset-1">
										<label>
											<md-radio-button type="radio" value="male" checked class="md-primary">Male</md-radio-button>
										</label>
										<label>
											<md-radio-button type="radio" value="female" checked class="md-primary">Female</md-radio-button>
										</label>
									</md-radio-group>
								</div>
								<!--.row
                                   .col-md-12.col-sm-12.col-xs-12
                                     .landing-small-font
                                       br
                                       | By clicking Join Now, you agree to Abroad Athletes &#32;
                                       a.landing-small-font-link User Agreement
                                       | , &#32;
                                       a.landing-small-font-link Privacy Policy
                                       |  and &#32;
                                       a.landing-small-font-link Cookies Policy
                                       | .-->
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<ul class="submit">
											<md-button type="submit" class="main-button form-submit">Sign up</md-button>
										</ul>
										<ul class="social-links">
											<li class="facebook"><a target="_blank" href="https://www.facebook.com/"><i
													class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="https://twitter.com/"><i
													class="fa fa-twitter"></i></a></li>
											<!-- <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>-->
										</ul>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div style="z-index:100; background-color: rgba(255, 255,255, 1); margin-top: 15px; margin-right: 40px; border-radius: 6px"
						 class="col-md-12 col-sm-12 col-xs-12 sing-up explore-login-form" ng-hide='!isLogin'>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="landing-big-font">
								<h2>LOGIN</h2>
							</div>
							<form name="loginForm" ng-submit="login(loginForm)" novalidate="">
								<div style="width: 100%; float: left"
									 ng-class="{ 'has-success': registerSubmitted,      'has-error': registerSubmitted }"
									 class="form-group"><input placeholder="Email" type="email" name="email"
															   ng-model="loginUser.email" required=""
															   class="form-control-log-in">
								</div>
								<div ng-class="{ 'has-success': registerForm.password.$valid &amp;&amp; registerSubmitted,      'has-error': registerForm.password.$invalid &amp;&amp; registerSubmitted }"
									 class="form-group"><input type="password" name="password" placeholder="Password"
															   ng-model="loginUser.password" ng-minlength="3" required=""
															   mongoose-error="" class="form-control-log-in">
								</div>
								<md-checkbox md-no-ink="" aria-label="Checkbox No Ink" ng-model="loginUser.remember"
											 ng-change="remember(loginUser.remember)" role="checkbox"
											 class="ng-pristine ng-untouched ng-valid" tabindex="0" aria-checked="false"
											 aria-invalid="false">
									<div class="md-label"><span class="ng-scope">Remember me</span></div>
								</md-checkbox>
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<ul class="submit">
											<md-button type="submit" class="main-button form-submit">Login</md-button>
										</ul>
										<ul class="social-links">
											<li class="facebook"><a target="_blank" href="https://www.facebook.com/"><i
													class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="https://twitter.com/"><i
													class="fa fa-twitter"></i></a></li>
											<!-- <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>-->
										</ul>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div id="acounts-caption">Acounts</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="ll-item" id="acounts1">
								<div class="ll-item-top">
									<img src="assets/images/maninglasses3.png" />
									<div>Kobe Bryant</div>
								</div>
								<div><span class="pull-left"><img src="assets/images/ll-star-icon.png" /> 214</span> <img src="assets/images/ll-message-icon.png" /> 22 <span class="pull-right"><img src="assets/images/ll-star-orange-icon.png" /></div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="ll-item" id="acounts2">
								<div class="ll-item-top">
									<img src="assets/images/b894736e2a455bb577f0881832671be2.png" />
									<div>Kobe Bryant</div>
								</div>
								<div><span class="pull-left"><img src="assets/images/ll-star-icon.png" /> 214</span> <img src="assets/images/ll-message-icon.png" /> 22 <span class="pull-right"><img src="assets/images/ll-star-orange-icon.png" /></div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="ll-item" id="acounts3">
								<div class="ll-item-top">
									<img src="assets/images/3fff643910b11fcc235a100afe362d3a.png" />
									<div>Kobe Bryant</div>
								</div>
								<div><span class="pull-left"><img src="assets/images/ll-star-icon.png" /> 214</span> <img src="assets/images/ll-message-icon.png" /> 22 <span class="pull-right"><img src="assets/images/ll-star-orange-icon.png" /></div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="ll-item" id="acounts4">
								<div class="ll-item-top">
									<img src="assets/images/Happy-Young-Businessman223.png" />
									<div>Kobe Bryant</div>
								</div>
								<div><span class="pull-left"><img src="assets/images/ll-star-icon.png" /> 214</span> <img src="assets/images/ll-message-icon.png" /> 22 <span class="pull-right"><img src="assets/images/ll-star-orange-icon.png" /></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div id="ll-load-more-btn">
					<span>
					</span>
					<span>
					</span>
					<span>
					</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer-navbar></footer-navbar>
	</div>
</div>