span(ng-repeat="statType in statTypes")
  button(class="btn our-button" ng-click="changeStatType(statType,$index)")
    | {{statType}}
h2
  | My {{currentActiveType}} summary
.stat-container  
  .stat-boxes(ng-repeat="event in statsNames[currentActiveType]")
    stat-box(header="{{event}}" content="{{myStats[currentActiveTypeInd].data[$index]}}")

h2
  | {{currentActiveType}} stats per match
table(class="table table-bordered" style="margin-top:20px; font-size:9px; text-align:center;vertical-align:middle;")
  tr
    th
      | Home
    th
      | Away
    th
      | Date
    th(ng-repeat="event in statsNames[currentActiveType]" )
      | {{event}}
  tr(ng-repeat="game in games track by $index")
    td
      | {{game.team1.team.name}}
    td
      | {{game.team2.team.name}}
    td
      | {{game.date | date:'yyyy-MM-dd'}}
    td(ng-repeat="stat in game.userData[user._id][currentActiveTypeInd].data track by $index")
      | {{stat}}

