<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a ui-sref="profile.common-story" class="btn btn-default our-button pull-left profile-navbar-btn">Story Line</a>
  </div>
  <div class="btn-group" role="group">
    <a ui-sref="profile.coach-galery" class="btn btn-default our-button pull-left profile-navbar-btn">Photos/Videos</a>
  </div>
  <div class="btn-group" role="group">
    <a ui-sref="profile.coach-bio" class="btn btn-default our-button pull-left profile-navbar-btn">Bio</a>
  </div>
  <div class="btn-group" role="group">
    <a ui-sref="profile.coach-stats" class="btn btn-default our-button pull-left profile-navbar-btn">Current Stats</a>
  </div>
  <div class="btn-group" role="group">
    <a ui-sref="profile.coach-career" class="btn btn-default our-button pull-left profile-navbar-btn">Career Stats</a>
  </div>
  <div class="btn-group" role="group">
    <a ui-sref="profile.coach-highs" class="btn btn-default our-button pull-left profile-navbar-btn">Season Highs</a>
  </div>
</div>
