<div class="btn-group btn-group-justified profile-navbar" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a ui-sref="profile.common-story" class="btn btn-default our-button pull-left profile-navbar-btn">Headlines</a>
  </div>
  <div class="btn-group" role="group">
    <a ui-sref="profile.team-stats" class="btn btn-default our-button pull-left profile-navbar-btn">Career Stats</a>
  </div>
  <div class="btn-group" role="group">
    <a ui-sref="profile.team-roster" class="btn btn-default our-button pull-left profile-navbar-btn">Roster</a>
  </div>
  <div class="btn-group" role="group">
    <a ui-sref="profile.team-coaching" class="btn btn-default our-button pull-left profile-navbar-btn">Coaching
      staff</a>
  </div>
  <div class="btn-group" role="group">
    <a ui-sref="profile.team-recruiting" class="btn btn-default our-button pull-left profile-navbar-btn">Recruiting</a>
  </div>
</div>
