<div class="btn-group btn-group-justified profile-navbar" role="group" aria-label="...">
  <div ui-sref-active="active" class="btn-group" role="group">
    <a ui-sref="profile.common-story" class="btn btn-default our-button pull-left profile-navbar-btn">Headlines</a>
  </div>
  <div ui-sref-active="active" class="btn-group" role="group">
    <a ui-sref="profile.player-galery" class="btn btn-default our-button pull-left profile-navbar-btn">Video/Photo</a>
  </div>
  <div ui-sref-active="active" class="btn-group" role="group">
    <a ui-sref="profile.player-stats" class="btn btn-default our-button pull-left profile-navbar-btn">Current Stats</a>
  </div>
  <div ui-sref-active="active" class="btn-group" role="group">
    <a ui-sref="profile.player-career" class="btn btn-default our-button pull-left profile-navbar-btn">Career Stats</a>
  </div>
  <div ui-sref-active="active" class="btn-group" role="group">
    <a ui-sref="profile.player-bio" class="btn btn-default our-button pull-left profile-navbar-btn">Bio</a>
  </div>
  <!-- <div ui-sref-active="active" class="btn-group" role="group">
    <a ui-sref="profile.player-highs" class="btn btn-default our-button pull-left profile-navbar-btn">Season Highs</a>
  </div> -->
</div>
