<div class="btn-group btn-group-justified profile-navbar" role="group" aria-label="...">
  <div ui-sref-active="active" class="btn-group" role="group">
    <a ui-sref="profile.common-story" class="btn btn-default our-button pull-left profile-navbar-btn">Latest Headlines</a>
  </div>
  <div ui-sref-active="active" class="btn-group" role="group">
    <a ui-sref="profile.league-videos" class="btn btn-default our-button pull-left profile-navbar-btn">Video/Photo</a>
  </div>
  <div ui-sref-active="active" class="btn-group" role="group">
    <a ui-sref="profile.league-stats" class="btn btn-default our-button pull-left profile-navbar-btn">Stats</a>
  </div>
 <!--  <div ui-sref-active="active" class="btn-group" role="group">
    <a ui-sref="profile.league-contact" class="btn btn-default our-button pull-left profile-navbar-btn">Contact us</a>
  </div> -->
  <div ui-sref-active="active" class="btn-group" role="group">
    <a ui-sref="profile.league-store" class="btn btn-default our-button pull-left profile-navbar-btn">Fan Zone</a>
  </div>
</div>


