.col-md-12.col-sm-12.col-xs-12(style='background-color: rgba(0, 0,0, 0.4); margin-top: 15px; margin-right: 40px; border-radius: 6px')
  .col-md-12.col-sm-12.col-xs-12
    .landing-big-font
      h1 Sign up - it's free!
    form.form(name='registerForm', ng-submit='register(registerForm)', novalidate='')
      .form-group(ng-class="{ 'has-success': registerForm.email.$valid && registerSubmitted,\
      'has-error': registerForm.email.$invalid && registerSubmitted }")
        input.form-control-sign-up(type='email', name='email', placeholder='Email address', ng-model='registerUser.email', required='', mongoose-error='')
        p.help-block(ng-show='registerForm.email.$error.email && registerSubmitted')
          | Doesn't look like a valid email.
        p.help-block(ng-show='registerForm.email.$error.required && registerSubmitted')
          | What's your email address?
        p.help-block(ng-show='registerForm.email.$error.mongoose')
          | {{ registerErrors.email }}
      .form-group(ng-class="{ 'has-success': registerForm.password.$valid && registerSubmitted,\
      'has-error': registerForm.password.$invalid && registerSubmitted }")
        input.form-control-sign-up(type='password', name='password', placeholder='Password', ng-model='registerUser.password', ng-minlength='3', required='', mongoose-error='')
        p.help-block(ng-show='(registerForm.password.$error.minlength || registerForm.password.$error.required) && registerSubmitted')
          | Password must be at least 3 characters.
        p.help-block(ng-show='registerForm.password.$error.mongoose')
          | {{ registerErrors.password }}
        input.form-control-sign-up(type='password', name='passwordConfirm', placeholder='Password confirmation', ng-model='registerUser.passwordConfirm', style='margin-top:15px;')
        p.help-block(ng-show='!passwordConfirmed && registerSubmitted')
          | Password and confirmation do not match.
      .row
        .col-md-12.col-sm-12.col-xs-12
          .landing-small-font
            br
            | By clicking Join Now, you agree to Abroad Athletes &#32;
            a.landing-small-font-link User Agreement
            | , &#32;
            a.landing-small-font-link Privacy Policy
            |  and &#32;
            a.landing-small-font-link Cookies Policy
            | .
      .row
        .col-md-12.col-sm-12.col-xs-12
          ul.social-links
            md-button.main-button(type='submit')
              | Sign up
          ul.social-links
            li.facebook
              a(target='_blank', href='https://www.facebook.com/')
                i.fa.fa-facebook
            li.twitter
              a(target='_blank', href='https://twitter.com/')
                i.fa.fa-twitter
            // <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
  //
    carousel
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="landing-big-font">
    <h1>Connect with the most elite players and coaches around the world!</h1><br>
    </div>
    <carousel class="center-block" interval="myInterval" style="margin-bottom: 20px; border-radius: 320px">
    <slide ng-repeat="slide in slides" active="slide.active">
    <img ng-src="{{slide.image}}" class="img-rounded">
    </slide>
    </carousel>
    </div>
    end carousel
