<div id="home" class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="row">
                <div class="col-sm-5 col-md-5 col-lg-5">
                    <div style="text-align:center;" class="info-card">
                        <div ng-switch="user.kind" class="main-picture"><img ng-src="photos/{{user.profilePhoto}}" alt=""/></div>
                        <div ng-switch="user.kind" class="kind-user">
                            <div ng-switch-when="player">
                                <h3>{{user.player.firstName}} {{user.player.lastName}}</h3>
                            </div>
                            <div ng-switch-when="coach">
                                <h3>{{user.coach.firstName}} {{user.coach.lastName}}</h3>
                            </div>
                            <div ng-switch-when="team">
                                <h3>{{user.team.name}}</h3>
                            </div>
                            <div ng-switch-when="league">
                                <h3>{{user.league.name}}</h3>
                            </div>
                            <div ng-switch-when="fan">
                                <h3>{{user.fan.firstName}} {{user.fan.lastName}}</h3>
                            </div>
                        </div>
                        <div class="follower-user">
                            <p><span class="total"> {{followersNumber}}&nbsp;</span><span>Loyal Fans</span></p>
                        </div>
                        <!--
                        <div>
                        <p>Friends : {{friendsNumber}}</p>
                        </div>
                        -->
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-7">

                    <div class="upcoming-schedule" >
                        <div class="table-header">
                            <h3 ng-class="{ active: gamesTable }" ng-click="showTable('gamesTable')">Upcoming Schedule Game</h3>
                            <!--<h3 ng-class="{ active: eventsTable }" ng-click="showTable('eventsTable')">Upcoming Events</h3>-->
                        </div>
                        <table class="table table-striped" ng-show="gamesTable">
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Location</th>
                                <th ng-if="user.kind == 'team' || user.kind == 'coach' ">Event</th>
                            </tr>
                            <tr ng-repeat="game in games">
                                <td> {{ checkIfTodayDate(game.date) | date : 'EEE d/MM' }}</td>
                                <td> {{ game.time | date:'shortTime' }}</td>
                                <td>
                                    Stadium  - {{ game.stadiumArena }},
                                    {{ game.team1.teamName }} vs {{ game.team2.teamName }}
                                </td>
                                <td ng-if="user.kind == 'team' || user.kind == 'coach' " class="text-center"><a ui-sref="manageStats.statsEdit({id: game._id, isLive: 'liveResults'})"><img src="assets/images/play-btn.png" alt=""/></a><a ui-sref="manageStats"><img src="assets/images/stat-btn.png" alt=""/></a></td>
                            </tr>
                        </table>
                    </div>

                    <a ui-sref="schedule" class="btn btn-default our-button see-more col-md-3"> See more</a>
                </div>
            </div>
            <home-navbar></home-navbar>
            <div class="tab-content">
                <div ui-view=""></div>
            </div>
            <div class="home-wall">
                <wall events="events">
                    <publisher></publisher>
                </wall>
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div id="right_sidebar">
                <div id="goals"><a href=""><img src="assets/images/logo.png" alt=""/></a><a ui-sref="personalGoals">
                    <h2>Goals</h2></a>
                    <ul>
                        <li>2 touchdowns away from top off in league</li>
                        <li>1 win from 1st place</li>
                        <li>223 yds from 1000 yard receiver</li>
                        <li>3 TDs away from highest scoring team leaque history</li>
                    </ul>
                </div>
                <div id="instagram_feed">
                    <h2>Instagram Feed</h2><img src="assets/images/img1.jpg" alt=""/><img src="assets/images/img2.jpg" alt=""/><img src="assets/images/img3.jpg" alt=""/><img src="assets/images/img4.jpg" alt=""/><img src="assets/images/img5.jpg" alt=""/><img src="assets/images/img6.jpg" alt=""/>
                </div>

                  <div class="twitter-section">
                    <div class="twitter-header clearfix">
                      <h2>
                        <a href="https://twitter.com/{{tweets[0].user.screen_name}}">Twitter Feed</a>
                      </h2>
                    </div>
                    <div class="tweets-block">
                      <div ng-repeat="tweet in tweets" class="one-tweet">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="twitter-img">
                              <div ng-if="tweet.retweeted_status.user.profile_image_url_https">
                                <img class="img-rounded" src="{{tweet.retweeted_status.user.profile_image_url_https}}" alt="">
                              </div>
                              <div ng-if="!tweet.retweeted_status.user.profile_image_url_https">
                                <img class="img-rounded" src="{{tweet.user.profile_image_url_https}}" alt="">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-8" style="padding-left: 0">
                            <div class="twitter-user-name">
                              <h3 ng-if="tweet.retweeted_status.user.name">{{tweet.retweeted_status.user.name}}&nbsp; <span>@{{tweet.retweeted_status.user.screen_name}}</span></h3>
                              <h3 ng-if="!tweet.retweeted_status.user.name">{{tweet.user.name}}&nbsp; <span>@{{tweet.user.screen_name}}</span></h3>
                            </div>
                            <div class="twitter-text">
                              <p>{{tweet.text}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="twitter_footer clearfix">
                      <p><a href="https://twitter.com/ThePodyum">Follow us on Podyum</a> for the latest news</p>
                    </div>
                  </div>

            </div>
        </div>
    </div>
    <!--.row-->
    <!--    .col-md-3(style='padding-left:0px; padding-right:0px;')-->
    <!--        .btn-group-vertical(role='group', aria-label='...', style='width:100%;')-->
    <!--            a.btn.btn-default(ui-sref='home.newsfeed') News Feed-->
    <!--              a.btn.btn-default(ui-sref='home.messages') Messages-->
    <!--            a.btn.btn-default(ui-sref='manageRoster') Manage Roster-->
    <!--            button.btn.btn-default(type='button', ng-click='changeMembership()') Change membership-->
    <!--            a.btn.btn-default(ui-sref='manageSubscription') Change Subscription-->
    <!--            div(ng-show="user.role === 'free'") You are free user-->
    <!--            div(ng-show="user.role === 'premium'") You are premium user-->
    <!--    .col-md-9-->
    <!---->
    <!--    .col-md-3-->
</div>
