.btn-group.btn-group-justified.home-navbar(role='group', aria-label='...')
   .btn-group(ui-sref-active='active', role='group')
      a.btn.btn-default.our-button.pull-left.profile-navbar-btn(ui-sref='home.update-fans') Update status
   .btn-group(ui-sref-active='active', role='group')
      a.btn.btn-default.our-button.pull-left.profile-navbar-btn(ui-sref='home.team-stats') Share photo/video with fans
   .btn-group(ui-sref-active='active', role='group')
      a.btn.btn-default.our-button.pull-left.profile-navbar-btn(ui-sref='home.manage-team') Manage team
   .btn-group(ui-sref-active='active', role='group')
      a.btn.btn-default.our-button.pull-left.profile-navbar-btn(ui-sref='home.team-recruiting') Recruiting

