

span(class="text_play_type") RUNNER:
  div()
    input(type="number", ng-model="event.data.player" class="form-control")
    div(ng-repeat="player in topPlayersPlay", class="btn-group", role="group")
      button(type="button", class="btn btn-warning" ng-click="event.data.player = player.number")
        | \#{{player.number}} {{player.name}}
span(class="text_play_type") YARDS:
  input(type="number", ng-model="event.data.gain" class="form-control")
div(class="padding-bottom")
    span(class="text_play_type") Other Actions
    div(ng-repeat="otherAction in otherActions", class="btn-group", role="group")
      button(type="button", class="btn btn-warning", ng-click="chooseOtherAction($index)")
        | {{otherAction}}
.row
  button(class="btn btn-success", ng-show="event.data.player > 0", ng-click="next()")
    | NEXT
