.live-stats-banner-item {
  max-width:300px;
  padding-left:10px;
  padding-right:10px;
  display: inline-block;
  height: 100px;
  width:200px;
  h4 {
    margin-top:0;
    margin-bottom:-5px;
    padding-bottom:0;
  }

  .team {
    margin-top:0;
    margin-bottom: -7px;
  }

  .media {
    .media-left {
      .media-object {
        width:25px;
        height:25px;
      }
    }
  }
}
