.live-stats-banner-item
  h4 {{game.league.league.name}}
     {{ isFinished ? ' Finished' : ' Quart ' + game.data.quart; }}
  .media
    .media-left.media-middle
      a
        img(src='photos/{{game.team1.profilePhoto}}' alt='').media-object
    .media-body
      p.team.media-heading.pull-left {{game.team1.team.name}}
      p.pull-right {{game.data.score1}}
  .media
    .media-left.media-middle
      a
        img(src='photos/{{game.team2.profilePhoto}}' alt='').media-object
    .media-body
      p.team.media-heading.pull-left {{game.team2.team.name}}
      p.pull-right {{game.data.score2}}
