<div class="row">
  <div class="container search-result">

    <div ng-repeat="user in users">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-5">
        <div class="media panel">
          <div class="media-left">
            <a ui-sref="profile.common-story({id: user._id})">
              <img class="media-object" ng-src="photos/{{user.profilePhoto}}" alt="" style="width:64px;height:64px;">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading" style="margin-top:20px">
              <a ui-sref="profile.common-story({id: user._id})">
                {{user[user.kind].firstName}} {{user[user.kind].lastName}} {{user[user.kind].name}}
              </a>
            </h4>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="text-align: center;" ng-if="moreVissible">
  <button class="btn btn-success" ng-click="getMore()">More results</button>
</div>
