<div ng-repeat="assignRequest in assignRequests">
    <div class="media">
        <div class="media-left">
            <!--<a ui-sref="profile.common-story({id: assignRequest._id})">-->
            <!--<img class="media-object" src="photos/user.png" alt="" style="width:64px;height:64px;">-->
            <!--</a>-->
            <a ui-sref="#">
                <img class="media-object" src="photos/user.png" alt="" style="width:64px;height:64px;">
            </a>
        </div>
        <div class="media-body">
            <div ng-if="assignRequest.teamName">
                <h4 class="media-heading">{{assignRequest.teamName}}</h4>
                <div ng-if="assignRequest.isPresent">
                    Wants to recruit you!
                </div>

            </div>
            <div ng-if="!assignRequest.name">
                <h4 class="media-heading">{{assignRequest.firstName}} {{assignRequest.lastName}}</h4>
                <div ng-if="!assignRequest.isPresent">
                    Ask for confirmation of being your member in the past from {{assignRequest.dateFrom | date : 'yyyy-MM'}} to {{assignRequest.dateTo | date : 'yyyy-MM'}}
                </div>
                <div ng-if="assignRequest.isPresent">
                    Ask for confirmation of being your member since {{assignRequest.dateFrom | date : 'yyyy-MM'}}
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-success" ng-click="acceptAssignRequests(assignRequest)">Accept</button>
                <button class="btn btn-danger" ng-click="rejectAssignRequests(assignRequest)">Reject</button>
            </div>
        </div>
    </div>
</div>